@charset "UTF-8";
/* ESTILOS LISTA DESPLEGABLE */

.transition, .parrafo, .listado i:before, .listado i:after {
  transition: all 0.7s ease-in-out;
}

.flipIn, .listado {
  animation: flipdown 0.5s ease both;
}

.no-select, .titulos-listado {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.html {
  width: 100%;
  height: 100%;
  perspective: 900;
  overflow-y: scroll;
  background-color: #dce7eb;
  font-family: 'Source Sans Pro', sans-serif;
  color: rgba(48, 69, 92, 0.8);
}

.body {
  min-height: 0;
  display: inline-block;
  position: relative;
  left: 50%;
  margin: 90px 0;
  transform: translate(-50%, 0);
  box-shadow: 0 10px 0 0 #B9501B inset;
  background-color: #fefffa;
  max-width: 850px;
  padding: 30px;
	font-family: 'Source Sans Pro', sans-serif;
}
@media (max-width: 550px) {
/*  body {
    box-sizing: border-box;
    transform: translate(0, 0);
    max-width: 100%;
    min-height: 100%;
    margin: 0;
    left: 0;
  }*/
}

/*h1 {
  font-size: 36px;
  line-height: 42px;
  font-weight: 100;
}*/



.parrafo {
  color: rgba(48, 69, 92, 0.8);
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
  max-height: 550px;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
}
.parrafo:hover {
	max-height: 800px;
}
.parrafo, .video-contenedor {
	max-height: 450px;
}

.contenedor-listado-ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}
.listado {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
/*  padding-top: 18px;*/
  border-top: 1px dotted #dce7eb;
}
.listado:nth-of-type(1) {
  animation-delay: 0.2s;
}
.listado:nth-of-type(2) {
  animation-delay: 0.4s;
}
.listado:nth-of-type(3) {
  animation-delay: 0.6s;
}
.listado:nth-of-type(4) {
  animation-delay: 0.8s;
}
.listado:nth-of-type(5) {
  animation-delay: 1s;
}
.listado:nth-of-type(6) {
  animation-delay: 1.2s;
}
.listado:last-of-type {
  padding-bottom: 0;
}
.listado i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 0;
}
.listado i:before, .listado i:after {
  content: "";
  position: absolute;
  background-color: #B9501B;
  width: 3px;
  height: 9px;
}
.listado i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
.listado i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
.listado input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
.listado input[type=checkbox]:checked ~ p {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}
.listado input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}
.listado input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}
.embed {
	width: 600px;
	height: 500px;
}
.zoom-img {
	-ms-transform: scale(.5); /* IE 9 */
    -webkit-transform: scale(.5);/* Safari */
    transform: scale(.5);
    margin-top: -300px;
}
.zoom-img:hover {
	-ms-transform: scale(.8); /* IE 9 */
    -webkit-transform: scale(.8);/* Safari */
    transform: scale(.8);
	margin-top: -120px;
}
.video {
	-ms-transform: scale(.5); /* IE 9 */
    -webkit-transform: scale(.5);/* Safari */
    transform: scale(.5);
	margin-top: -220px;
}
.video:hover {
	-ms-transform: scale(.9); /* IE 9 */
    -webkit-transform: scale(.9);/* Safari */
    transform: scale(.9);
	margin-top: -50px;
}

.listado {
	display: block;
    float: right;
    width: 600px;
	border-top: 4px solid #B9501B;
}
.titulos-listado {
	  font-size: 26px;
  line-height: 34px;
  letter-spacing: 1px;
  display: block;
/*  background-color: #fefffa;*/
  margin: 0;
  cursor: pointer;
	font-weight: 600;
	color: #000000;
}



@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}
ul {
	list-style-position: inside;
}
.listado {
	list-style-image: url('../images/novedades-blackboard/bullet-facilitador.png');
/*	width: 16px;
	height: 17px;*/
}
.listado:hover {
    list-style-image: url('../images/novedades-blackboard/bullet-facilitador-hover.png');
/*	width: 26px;
	height: 17px;*/
    color: 	#B9501B;
}
.color:hover {
	color: 	#B9501B;
}
.listado:nth-of-type(1) {
	border: none;
}
div.listado li:hover {
	color: #B9501B;
}


@media screen and (max-width:480px) and (max-width: 360px) and (max-width: 320px){
	.body {
		max-width: 800px;
	}
}