@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');
body {
  font-family: 'Source Sans Pro', sans-serif;
  /*background: #303F9F;
  position: relative;

  color: #fff;
  font-size: 20px;*/
}

.grid {
  list-style: none;
  margin-left: 40px;
}

.gc {
  box-sizing: border-box;
  display: inline-block;
  margin-right: -.25em;
  min-height: 1px;
/*  padding-left: 40px;*/
  vertical-align: top;
	float: left;
    height: 470px;
}

.gc--1-of-3 {
  width: 33.33333%;
}

.gc--2-of-3 {
  width: 66.66666%;
}

.naccs {
  position: relative;
  max-width: 900px;
  margin: 100px auto 0;
}

.naccs .menu div {
  padding: 5px 5px 5px 40px;
  margin-bottom: 10px;
  color: #983d11;
  background: #ffe4d1;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  font-weight: 700;
  -webkit-transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
	    width: 220px;
    font-size: 1.1em;
    font-weight: 600;
	    border: 3px solid #ffd3b4;
    border-radius: 0 8px;
}

.naccs .menu div:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.naccs .menu div span.light {
    height: 16px;
    width: 17px;
  position: absolute;
  top: 8px;
  left: 15px;
  background-image: url('templates/frontend/images/novedades-blackboard/bullet-facilitador.png');
  background-repeat: no-repeat;
  /*background-color: #303F9F;
  border-radius: 100%;
  -webkit-transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
*/

}

.naccs .menu div.active span.light {
    height: 17px;
    width: 26px;
    position: absolute;
    top: 14px;
    left: 8px;
  background-image: url('templates/frontend/images/novedades-blackboard/bullet-facilitador-hover.png');
  background-repeat: no-repeat;
  /*background-color: #FBC02D;
  left: 0;
  height: 100%;
  width: 3px;
  top: 0;
  border-radius: 0;*/
}
.contenedor-imagen img{
	-ms-transform: scale(.3, .3);
    -webkit-transform: scale(.3, .3);
	transform: scale(.3, .3);
    margin-top: -380px;
    box-shadow: 1px 1px 35px rgba(0, 0, 0, 0.44);
}
.contenedor-imagen img:hover{
	cursor: zoom-in;
	-ms-transform: scale(.6, .6);
    -webkit-transform: scale(.6, .6);
    transform: scale(.6, .6);
    margin-top: -430px;
}
.contenedor-imagen video{
	-ms-transform: scale(.4, .4);
    -webkit-transform: scale(.4, .4);
	transform: scale(.4, .4);
    margin-top: -250px;
    box-shadow: 1px 1px 35px rgba(0, 0, 0, 0.44);
    margin-left: -46px;
}
.contenedor-imagen video:hover{
	cursor: zoom-in;
	-ms-transform: scale(.7, .7);
    -webkit-transform: scale(.7, .7);
    transform: scale(.7, .7);
    margin-top: -340px;
}
.contenedor-imagen a{
	cursor: url(templates/frontend/images/novedades-blackboard/zoom-cursor.png);
}

.contenedor-imagen p{
	font-size: 1.4em;
    color: #000000;
	text-align: center;
}
.contenedor-imagen p.texto-video{
	margin-left: -40px;
}
.naccs .menu div.active {
    color: #de6b34;
    padding: 10px 5px 10px 40px;
    font-weight: 700;
    font-size: 1.2em;
	background: #fff2ea;
    border: 3px solid #ea9457;
}

ul.nacc {
  position: relative;
  height: 0px;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
    margin-top: -15px;
	margin-left: -30px;
}

ul.nacc li {
  opacity: 0;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  position: absolute;
  list-style: none;
  -webkit-transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul.nacc li.active {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
  z-index: 2;
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

ul.nacc li p {
  margin: 0;
}

/*INICIO DE ESTILOS RESPONSIVO*/
/*ESTILOS 320PX*/
@media(max-width:320px ){
	.naccs {

	}
	.derecha {
		float: right;
	}
	.izquierda{
	    float: left;
	}
}
/*FIN DE ESTILOS RESPONSIVO*/
