@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');
body {
  font-family: 'Source Sans Pro', sans-serif;
  /*background: #303F9F;
  position: relative;

  color: #fff;
  font-size: 20px;*/
}

.grid {
  list-style: none;
  margin-left: -40px;
}

.gc {
  box-sizing: border-box;
  display: inline-block;
  margin-right: -.25em;
  min-height: 1px;
  padding-left: 40px;
  vertical-align: top;
}

.gc--1-of-3 {
  width: 33.33333%;
}

.gc--2-of-3 {
  width: 66.66666%;
}

.naccs {
  position: relative;
/*  max-width: 900px;*/
  margin: 100px auto 0;
}

.naccs .menu div {
    padding: 15px 20px 15px 40px;
    margin-bottom: 10px;
    color: #084c5a;;
    background: #95dbf5;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: relative;
    vertical-align: middle;
    font-weight: 700;
    -webkit-transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
    border: 4px solid #38aad6;
    border-radius: 0 16px;
	font-size: 1.3em;
}
.alumnosc div {
    color: #084c5a;
    background: #58c2ea;
    border: 4px solid #218cb5;
}

.naccs .menu div:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #286f7d;
  background: #ccf1ff;
  border: 4px solid #218cb5;
}

.naccs .menu div span.light {
  height: 16px;
  width: 17px;
  position: absolute;
  top: 17px;
  left: 15px;
  background-image: url('templates/frontend/images/novedades-blackboard/bullet-alumnos.png');
  background-repeat: no-repeat;
  /*background-color: #303F9F;
  border-radius: 100%;
  -webkit-transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
*/

}

.naccs .menu div.active span.light {
  height: 17px;
  width: 26px;
  position: absolute;
  top: 17px;
  left: 29px;
  background-image: url('templates/frontend/images/novedades-blackboard/bullet-alumnos-hover.png');
  background-repeat: no-repeat;
  /*background-color: #FBC02D;
  left: 0;
  height: 100%;
  width: 3px;
  top: 0;
  border-radius: 0;*/
}

.naccs .menu div.active {
color: #286f7d;
    padding: 15px 20px 15px 60px;
    background: #ccf1ff;
    border: 4px solid #218cb5;
}

ul.nacc {
  position: relative;
  height: 650px;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul.nacc li {
  opacity: 0;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  position: absolute;
  list-style: none;
  -webkit-transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul.nacc li.active {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
  z-index: 2;
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

ul.nacc li p {
  margin: 0;
    margin-bottom: 30px;
/*    background-color: #cdeef9;*/
    padding: 0 30px;
}
ul.nacc li p.int {
/*	background-color: #cdeef9;*/
    font-size: 1.2em;
    padding: 0 30px;
}
ul.nacc li img, video {
	display: block;
	margin: auto;
	width: 50%;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.47);
}
ul.nacc li video {
	width: 80%;
}
#video {
	width: 80%;
}
div.contenedor-acordeon ul:hover{
	height: -webkit-fill-available;
}
/*ul.nacc li img:hover, video:hover {
	width: 80%;
}*/
/*ul.nacc:hover{
	height: 960px;
}
*/
.contenedor-acordeon{
    background-color: #ebfaff;
    border-radius: 0 20px;
	padding-top: 10px;
    padding-bottom: 20px;
}
/* zoom master*/

/* these styles are for the demo, but are not required for the plugin */
.zoom {
  display:inline-block;
  position: relative;
}

/* magnifying glass icon */
.zoom:after {
  content:'';
  display:block;
  width:33px;
  height:33px;
  position:absolute;
  top:0;
  right:0;
  background:url(icon.png);
}

.zoom img {
  display: block;
}

.zoom img::selection { background-color: transparent; }

p.novedades-texto-contenido.titulo-acordeon{
	text-align: center;
}
.naccs .menu div.menu-collaborate {
     color: #852794;
    background: #ebccf1;
    border: 4px solid #c993d2;
}

.naccs .menu div.menu-collaborate:hover {
    color: #a327b5;
    background: #f3b6ff;
    border: 4px solid #ad43bf;
}
.naccs .menu div.menu-collaborate:active {
    color: #a327b5;
    background: #e1b9e8;
    border: 4px solid #ab57b9;
}
.naccs .menu div.active.menu-collaborate {
    color: #b245c3;
    background: #f6ddfb;
    border: 4px solid #bc55ce;
}
p.novedades-texto-contenido.titulo-acordeon.texto-bbcollaborate, p.novedades-texto-contenido.titulo-acordeon.texto-bbcollaborate span{
	color: #a939b9;
    background-color: #f7ddfb;
    border-top: 3px solid #bd54cf;
    border-bottom: 3px solid #bd54cf;
}
p.novedades-texto-contenido.titulo-acordeon.texto-bbcollaborate span{
	border: none;
	color: #912ba0;
}
@media (max-width: 991px) {
.naccs {
    margin: 70px auto 0;
}
.iframe-alumnos, .iframe-facilitadores{
	    width: 44em;
}
}
@media screen and (max-width: 767px){
.naccs .menu div.active {
    height: 2.5em;
	padding: 7px 20px 15px 60px;
}
.naccs .menu div.active span.light {
    top: 13px;
}
.naccs .menu div {
    height: 2.5em;
	padding: 7px 20px 15px 40px;
}
.naccs .menu div span.light {
    top: 13px;
}
.naccs .menu div.active {
    color: #286f7d;
    padding: 7px 20px 15px 60px;
    background: #ccf1ff;
    border: 4px solid #218cb5;
}
ul.nacc {
    margin-top: 10px;
	width: 100%;
}
ul.nacc li.active {
    width: 100%;
}
ul.nacc li {
    width: 100%;
}
div.gc {
    margin-bottom: 30px;
}
.iframe-alumnos, .iframe-facilitadores{
	    width: 100%;
}
}
@media screen and (max-width:480px), (max-width: 360px), (max-width: 320px){
.naccs {
	margin-top: 50px;
}
.naccs .menu div {
    padding: 3px 3px 3px 23px;
    margin-bottom: 5px;
    color: #286f7d;
    background: #ccf1ff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: relative;
    vertical-align: middle;
    font-weight: 700;
    -webkit-transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
    border: 4px solid #218cb5;
    border-radius: 0 16px;
    font-size: 1em;
}
.naccs .menu div.active {
    padding: 3px 3px 3px 35px;
}
.naccs .menu div.active span.light {
    top: 4px;
    left: 9px;
}
.naccs .menu div span.light {
    top: 4px;
    left: 2px;
}
}
p.novedades-texto-contenido.titulo-acordeon{
	text-align: center;
    margin-top: 10px;
    color: #0f6f82;
    font-weight: 600;
    border-top: 3px solid #6fcaec;
    border-bottom: 3px solid #6fcaec;
	background-color: #cdeef9;
}
.iframe-alumnos, .iframe-facilitadores{
	box-shadow: 0px 2px 7px #00000047;
    border-radius: 15px;
	display: block;
	margin: auto;
}
