
/* Table of Content
==================================================
#BASIC TYPOGRAPHY
#HEADER
#MENU
#SLIDER
#FEATURES
#ABOUT
#COUNTER
#SERVICE
#PRICING TABLE
#TESTIMONIAL
#PRICING TABLE
#OUR TEAM
#TESTIMONIAL
#CLIENTS BRAND
#CLIENTS BRAND
#LATEST NEWS
#SUBSCRIBE US
#FOOTER
#PORTFOLIO PAGE
#BLOG PAGE
#CONTACT PAGE
#ERROR PAGE
#RESPONSIVE STYLE
*/


/*--------------------*/
/* BASIC TYPOGRAPHY */
/*--------------------*/

body,html{

}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	overflow-x: hidden !important;
	color: #838282;
}

ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

a{
	text-decoration: none;
	color: #2f2f2f;
}

a:focus{
	outline: none;
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Source Sans Pro', sans-serif;
}

h2 {
	color: #fff;
	font-size: 30px;
	font-weight: 700;
	line-height: 40px;
	margin: 0;
	padding-bottom: 10px;
}

img{
 border:none;
}

/* Preloader */
@media(min-width:950px) {

    .menunovedades{
    /*background-image: url('templates/frontend/videos/gif-estrella-nuevo_2.gif');
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 15px;
    background-position-y: 45px; */
    }
}
@media(max-width:900px) {

    .menunovedadesa{
   /*   background-image: url('templates/frontend/videos/gif-estrella-nuevo_2.gif');
    background-repeat: no-repeat;
    background-position-x: 90px;
    background-size: 15px;
    background-position-y: 10px; */
    }
}
#preloader {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#fff; /* change if the mask should have another color then white */
  z-index:99999; /* makes sure it stays on top */
}

#status {
  width:200px;
  height:200px;
  position:absolute;
  left:50%; /* centers the loading animation horizontally one the screen */
  top:50%; /* centers the loading animation vertically one the screen */
  background-image:url(assets/images/favicon.png); /* path to your loading animation */
  background-repeat:no-repeat;
  background-position:center;
  margin:-100px 0 0 -100px; /* is width and height divided by two */
}

/*scrol to top*/

.scrollToTop {
  bottom: 60px;
  border-radius: 4px;
  display: none;
  font-size: 32px;
  line-height: 45px;
  font-weight: bold;
  height: 50px;
  position: fixed;
  right: 50px;
  text-align: center;
  text-decoration: none;
  width: 50px;
  z-index: 999;
  color: #fff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.scrollToTop:hover,
.scrollToTop:focus{
  background-color: #fff;
  text-decoration: none;
  outline: none;
}

/*--------------------*/
/* HEADER */
/*--------------------*/

#header{
	float: left;
	display: inline;
	width: 100%;
}

.header-top{
	background-color: #E3E4E3;
	display: none;
	float: left;
	width: 100%;
	padding: 20px 0;
}

#search{
	margin: 0 auto;
	width: 70%;
}

#search input {
  background-color: inherit;
  border: medium none;
  color: #00364A;
  float: left;
  height: 100%;
  text-align: center;
  width: 95%;
}

#search button[type="submit"] {
  background: inherit;
  border: medium none;
  color: #00364A;
  height: 20px;
  width: 30px;
}

#search-icon {
  font-size: 20px;
  height: 35px;
  line-height: 35px;
  position: absolute;
  right: 1%;
  text-align: center;
  top: 20px;
  width: 35px;
}

.header-bottom{
	background-color: rgb(0, 57, 93);
	border-bottom: 1px solid #00364A;
	color: #FFFFFF;
	font-size: 12px;
	/*height: 40px;*/
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	display: inline;
	float: left;
	width: 100%;
	overflow: hidden;
	padding: 0 15px;
	transition: all 0.3s ease 0s;
}

.header-bottom a.links { color: white; padding-top: 20px; padding-right: 10px; display: block; float: left; }
.header-bottom a.links-img {
    padding-top: 12px;
    display: block;
    float: left;
    padding-right: 11px;
}

header .dep {     
	display: inline-block;
    float: right;
    color: rgb(0,59,92);
    background: rgba(0,0,0,0.12);
    padding: 10px 30px;
    border-left: 4px solid #00c9f0;
    border-right: 4px solid #00c9f0;
    margin-top: 5px;
    margin-bottom: 5px;
    letter-spacing: 1px;
    font-size: 17px;
    margin-right: 20px;
}
.header-contact{
	display: inline;
	float: left;
	width: 100%;
}

.header-contact ul{}
.header-contact ul li {
  border-left: 1px solid #00364A;
  display: inline-block;
  float: left;
  margin-right: 10px;
  padding: 10px 12px;
}

.header-contact ul li:last-child{
	border-right: 1px solid #00364A;
}

.phone{
	font-size: 14px;
	color: #00B8E0;
}

.phone i{
	margin-right: 5px;
}

.mail{
	font-size: 14px;
}
.mail i{
	margin-right: 5px;
}

.header-login{
	display: inline;
	float: left;
	text-align: right;
	width: 100%;
}

.login {
  border-left: 1px solid #00364A;
  border-right: 1px solid #00364A;
  color: #FFFFFF;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 15px;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.login:hover,
.login:focus{
	color: #fff;
	text-decoration: none;
	outline: none;
}

/*login modal window*/

#login-form {
  background-color: rgba(0, 0, 0, 0.7);
}

#login-form .modal-dialog {
  margin: 130px auto;
  width: 400px;
}

#login-content {
  border-radius: 0;
}

#login-content .modal-title {
  font-size: 20px;
}

#login-content .modal-title i{
  margin-right: 5px;
}

#login-content .form-group input{
  height: 35px;
  border-radius: 0;
}

#login-content .form-control:focus {
  box-shadow: none;
}

.loginbox label {
  float: left;
  width: 100%;
}

.loginbox label input{
  float: left;
  margin-right: 5px;
}

.loginbox label span {
  font-weight: normal;
}

.loginbox .signin-btn {
  border-radius: 0;
  margin-top: 10px;
  color: #fff;
}

.footer-box {
  text-align: left;
  font-size: 15px;
}

.footer-box a:hover,
.footer-box a:focus{
  text-decoration: none;
  outline: none;
}

#signup-content {
  display: none;
}

#signup-content {
  border-radius: 0;
}

#signup-content .modal-title {
  font-size: 20px;
}

#signup-content .modal-title i{
  margin-right: 5px;
}

#signup-content .form-group input{
  height: 35px;
  border-radius: 0;
}

#signup-content .form-control:focus {
  box-shadow: none;
}

.signupbox span {
  display: inline-block;
  font-size: 15px;
  margin-bottom: 10px;
}

.signupbox span a:hover{
  text-decoration: none;
  outline: none;
}

/*--------------------*/
/* MENU */
/*--------------------*/

#menu-area{
	background-color: #fff;
	display: inline;
	float: left;
	width: 100%;
	position: relative;
	/*margin-bottom: 25px;*/
}

#menu-area #navbar {
  padding-right: 70px;
  margin-top: 0;
}

#menu-area .navbar-default {
  background-color: #fff;
  border-color: #fff;
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
	.navbar-ccs {
	float: none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
}

}

.navbar-brand {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  font-weight: bold;
/*  margin-top: 10px;*/
  /*text-transform: uppercase;*/
}

.navbar-brand:hover,
.navbar-brand:focus{
	text-decoration: none;
	outline: none;
}

.navbar-brand > img {
  display: block;
  margin-top: -9px;
}

.main-nav li {
  padding: 15px 0;
  position: relative;
  margin: 0 5px;
}

.navbar-default .navbar-nav > li > a {
  color: #00364A;/*#333;*/
  display: inline-block !important;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  padding-left: 7px;
  padding-right: 7px;
  /*text-transform: uppercase;*/
  width: 100%;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	border-top: 0px solid #4396ff;
	background: none;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}

.navbar-nav > li > a::before {
  background-color: transparent;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  width: 0;
}

.main-nav > li > a:hover::before,
.navbar-default .navbar-nav > .active > a::before,
.navbar-default .navbar-nav > .open > a:hover::before {
  width: 100%;
}

.main-nav .dropdown:hover .dropdown-toggle::before{
	width: 100%;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
}

.navbar-nav > li > .dropdown-menu li {
  padding: 0;
}

.navbar-nav > li > .dropdown-menu > li > a {
	color: #333;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	padding: 8px 20px;
	/*text-transform: uppercase;*/
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-nav > li > .dropdown-menu > li > a:focus{
	background-color: transparent;
}


/*--------------------*/
/* SLIDER */
/*--------------------*/

#slider{
	display: inline;
	float: left;
	width: 100%;
}

.main-slider {
  display: inline;
  float: left;
  margin-bottom: 0;
  width: 100%;
  border: #999 4px solid;
}

.single-slide{
	float: left;
	display: inline;
	width: 100%;
}

.single-slide img{
	/*height: auto;*/
        width: 100%;
}

.slide-content {
/*  background-color: rgba(0, 0, 0, 0.6);*/
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/*.main-slider .slick-prev {
  left: 23px;
}

.main-slider .slick-next {
  right: 20px;
}

.main-slider .slick-prev,
.main-slider .slick-next {
  background-color: rgba(0,0,0,0.5);
  top: 48%;
  height: 50px;
  width: 50px;
  z-index: 999;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.main-slider .slick-prev::before {
  content: "\f104";
  font-family: fontAwesome;
  font-size: 30px;
}

.main-slider .slick-next::before {
  content: "\f105";
  font-family: fontAwesome;
  font-size: 30px;
}*/

/*.main-slider .graybar {
  top: 0px;
  height: 15px;
  width: 100%;
  color: #e6e6e6;
}*/

.main-slider .slick-dots {
  bottom: -32px;
}

.main-slider .slick-dots li {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
}

.main-slider .slick-dots li button::before {
  font-size: 25px;
  line-height: 21px;
}

.slide-article {
  display: inline;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 150px;
  width: 100%;
}

.slide-article h1 {
  color: #fff;
  font-size: 45px;
  font-weight: bold;
  line-height: 55px;
  margin-bottom: 25px;
  /*text-transform: uppercase;*/
}

.slide-article p {
  color: #fff;
  margin-bottom: 50px;
}

.read-more-btn{
	color: #fff;
	border: 1px solid #fff;
	display: inline-block;
	padding: 12px 22px;
	font-weight: 700px;
	font-size: 16px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.read-more-btn:hover,
.read-more-btn:focus{
	color: #fff;
	text-decoration: none;
	outline: none;
}

.slider-img{
	display: inline;
	float: left;
	padding: 0 30px;
	width: 100%;
}
/*MEDIA QUERIES IMAGENES SLIDER DE FACHADA DGIE*/
.img-slider {
	margin-bottom:15%;
}

/*@media (min-width: 768px) {
.img-slider {
	margin-bottom:40px;
}
}
@media (min-width: 992px) {
.img-slider {
	margin-bottom:40px;
}
}
@media (min-width: 1200px) {
.img-slider {
	margin-bottom:15%;
}
}*/

/*--------------------*/
/* FEATURE */
/*--------------------*/

#feature{
	background-color: #fff;
	display: inline;
	float: left;
	padding: 70px 0;
	width: 100%;
}

.title-area {
  display: inline;
  float: left;
  padding: 0;
  text-align: center;
  width: 100%;
}

.title-area .title {
    font-size: 3.4em;
    font-weight: 700;
    line-height: 1em;
    /* text-transform: uppercase; */
    margin-top: 0;
	color: #51C3E3;
}

.title-area .line {
  background-color: #777;
  display: inline-block;
  height: 2px;
  width: 60px;
}

.title-area p {
  color: #777777;
  line-height: 25px;
  margin-top: 20px;
}

.feature-content {
  display: inline;
  float: left;
  width: 100%;
  margin-top: 50px;
}

.single-feature{
	display: inline;
	float: left;
	margin-bottom: 40px;
	width: 100%;
}

.single-feature:hover .feature-icon{
	color: #444;
}

.single-feature .feature-icon {
  font-size: 35px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.feat-title{
	font-weight: normal;
	font-size: 20px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.single-feature:hover .feat-title{
	color: #444;
}

.single-feature p {
  color: #555;
  font-size: 15px;
}

/*--------------------*/
/* ABOUT */
/*--------------------*/

#about{
	background-color: #f8f8f8;
	display: inline;
	float: left;
	padding: 70px 0;
	width: 100%;
}

.about-content {
	display: inline;
	float: left;
	margin-top: 50px;
	width: 100%;
}

.our-skill{
	display: inline;
	float: left;
	width: 100%;
}

.our-skill h3{
	position: relative;
}

.our-skill h3::after {
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: 40px;
  width: 65px;
}

.our-skill-content{
	display: inline;
	float: left;
	width: 100%;
	margin-top: 50px;
}

.our-skill-content p{
	margin-bottom: 32px;
}

.our-skill-content .progress {
  background-color: #f5f5f5;
  height: 30px;
  border-radius: 0;
  margin-bottom: 24px;
}

.our-skill-content .progressbar-back-text,
.our-skill-content .progressbar-front-text {
  font-size: 14px;
  height: 100%;
  line-height: 30px;
}

.progress-title {
  font-size: 15px;
  font-weight: bold;
  left: 20px;
  line-height: 29px;
  position: absolute;
  /*text-transform: uppercase;*/
  top: 0;
}

.why-choose-us{
	display: inline;
	float: left;
	width: 100%;
}

.why-choose-us h3{
	position: relative;
}

.why-choose-us h3::after {
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: 40px;
  width: 65px;
}

.why-choose-group{
	margin-top: 50px;
}

.panel-group .panel {
  border-radius: 0px;
}

.panel-default > .panel-heading {
  background-color: #fff;
  border-color: #ddd;
  border-radius: 0;
  color: #333;
  padding: 0;
}

.panel-title > a {
	color: #222;
  display: block;
  padding: 10px 15px;
}

.panel-title > a:hover,
.panel-title > a:focus{
 	text-decoration: none;
 	outline: none;
}

.panel-title > a span {
  float: right;
  font-size: 20px;
}

.why-choose-group .panel-body p {
  color: #555;
  font-size: 15px;
  line-height: 22px;
}

.why-choose-img {
  display: inline-block;
  float: left;
  margin-right: 14px;
  margin-bottom: 3px;
  width: 20%;
}

.six-sec-ease-in-out {
    -webkit-transition: width 6s ease-in-out;
    -moz-transition: width 6s ease-in-out;
    -ms-transition: width 6s ease-in-out;
    -o-transition: width 6s ease-in-out;
    transition: width 6s ease-in-out;
}

/*--------------------*/
/* COUNTER */
/*--------------------*/

#counter{
	background-attachment: fixed !important;
	background-image: url("assets/images/counter-bg.jpg");
	background-repeat: repeat;
	background-size: cover;
	color: #ffffff;
	display: inline;
	float: left;
	width: 100%;
}

.counter-overlay{
	background: rgba(15, 22, 30, 0.5) none repeat scroll 0 0;
	color: #ffffff;
	display: inline;
	float: left;
	padding: 90px 0;
	width: 100%;
}

.counter-area{
	display: inline;
	float: left;
	width: 100%;
}

.single-counter{
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
}

.single-counter .counter-icon{
	display: inline;
	float: left;
	width: 100%;
	color: #fff;
	font-size: 30px;
}

.single-counter .counter-no {
  color: #fff;
  display: inline;
  float: left;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  line-height: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.single-counter .counter-label {
  color: #fff;
  display: inline;
  float: left;
  font-size: 20px;
  width: 100%;
}

.single-counter .counter-label::after {
  content: "";
  height: 2px;
  margin: 8px auto;
  width: 35px;
  display: block;
}


/*--------------------*/
/* SERVICE */
/*--------------------*/

#service{
	background-color: #fff;
	display: inline;
	float: left;
	padding: 70px 0;
	width: 100%;
}

.service-content{
	display: inline;
	float: left;
	margin-top: 50px;
	width: 100%;
}

.single-service {
  display: inline;
  float: left;
  margin-bottom: 30px;
  padding-left: 80px;
  position: relative;
  width: 100%;
}

.service-icon {
  font-size: 50px;
  height: 60px;
  left: 0;
  line-height: 50px;
  position: absolute;
  top: 10px;
  width: 60px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.single-service:hover .service-icon{
	color: #222;
}

.service-title{
	color: #222;
	font-size: 20px;
	font-weight: 300;
	/*text-transform: uppercase;*/
	transition: all 0.5s ease 0s;
}

.single-service p {
  font-size: 14px;
  line-height: 25px;
}


/*--------------------*/
/* PRICING TABLE */
/*--------------------*/


#pricing-table{
	background-color: #f8f8f8;
	display: inline;
	float: left;
	padding: 70px 0;
	width: 100%;
}

.pricing-table-content{
	display: inline;
	float: left;
	margin-top: 50px;
	width: 100%;
}

.single-table-price {
  background-color: #fff;
  display: inline;
  float: left;
  text-align: center;
  width: 100%;
  border: 1px solid #ccc;
}

.price-header {
  background-color: #383838;
  color: #ccc;
  display: inline;
  float: left;
  width: 100%;
}

.price-title {
  color: #fff;
  display: inline-block;
  font-size: 15px;
  margin-top: -5px;
  min-width: 150px;
  padding: 5px 15px;
  /*text-transform: uppercase;*/
}

.price {
  color: #fff;
  display: inline;
  float: left;
  font-size: 40px;
  font-weight: normal;
  padding: 15px;
  width: 100%;
}

.price .price-up{
	font-size: 60%;
}

.price .price-down{
	font-size: 14px;
	/*text-transform: uppercase;*/
}

.price-article{
	display: inline;
	float: left;
	padding: 0 20px;
	width: 100%;
}

.price-article ul li {
  border-bottom: 1px solid #ccc;
  color: #555;
  padding: 15px 0;
}

.price-article ul li:last-child{
	border: none;
}

.price-footer{
	display: inline;
	float: left;
	width: 100%;
}

.purchase-btn {
  background-color: #fff;
  border: 1px solid #ccc;
  display: inline-block;
  margin-bottom: -10px;
  margin-top: 20px;
  padding: 10px 20px;
  text-align: center;
  /*text-transform: uppercase;*/
  font-size: 15px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.purchase-btn:hover,
.purchase-btn:focus{
	text-decoration: none;
	outline: none;
	color: #fff;
}

.featured-price .price-title{
	background-color: #383838;
}

.featured-price .purchase-btn{
	color: #fff;
}


/*--------------------*/
/* OUR TEAM */
/*--------------------*/


#our-team {
  display: inline;
  float: left;
  padding: 70px 0;
  width: 100%;
}

.our-team-content{
	display: inline;
	float: left;
	margin-top: 50px;
	width: 100%;
}

.single-team-member {
  border: 2px solid #f5f5f5;
  display: inline;
  float: left;
  margin-top: 65px;
  padding: 10px;
  padding-bottom: 50px;
  position: relative;
  text-align: center;
  width: 100%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.single-team-member:hover{
	 -webkit-box-shadow: 0 8px 6px -6px #000;
	   -moz-box-shadow: 0 8px 6px -6px #000;
	        box-shadow: 0 8px 6px -6px #000;
}

.team-member-img {
  background-color: #ffffff;
  margin-top: -65px;
  position: relative;
}

.team-member-img img{
	width: 100%;
}

.team-member-img-boletin img{
	width: 100%;
	height: 323px;
}

.team-member-name {
  display: inline;
  float: left;
  padding: 25px 0 15px;
  width: 100%;
}

.team-member-name p {
  color: #222;
  font-size: 18px;
  /*text-transform: uppercase;*/
  margin-bottom: 0;
}

.team-member-name span {
  color: #222;
  font-size: 14px;
}

.single-team-member > p {
  color: #222;
  font-size: 14px;
  line-height: 20px;
  padding: 0 10px;
}

.single-team-member:hover .team-member-link{
	color: #fff;
}

.single-team-member:hover .team-member-link>a{
	color: #fff;
}

.team-member-link {
  background: #fff none repeat scroll 0 0;
  color: #555;
  bottom: -20px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  text-align: center;
  width: 60%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.team-member-link a {
  display: inline-block;
  padding: 8px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.team-member-link a:hover,
.team-member-link a:focus{
  display: inline-block;
  outline: none;
}

/*--------------------*/
/* TESTIMONIAL */
/*--------------------*/

#testimonial {
  background-attachment: fixed !important;
  background-image: url("assets/images/testimonial-1.jpg");
  background-repeat: repeat;
  background-size: cover;
  color: #ffffff;
  display: inline;
  float: left;
  width: 100%;
  padding: 70px 0;
}

#testimonial .title-area {
  padding: 0 50px;
}

#testimonial .title-area .title {
  font-size: 30px;
  line-height: 30px;
}

.testimonial-slider {
  display: inline;
  float: left;
  margin-top: 50px;
  text-align: center;
  width: 100%;
}

.single-slider{
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
  outline: none;
}

.testimonial-img {
  border-radius: 50%;
  height: 100px;
  margin: 0 auto 30px;
  text-align: center;
  width: 100px;
}

.testimonial-img img{
	width: 100%;
	border-radius: 50%;
}

.testimonial-content{}
.testimonial-content p{
	font-size: 15px;
}

.testimonial-content h6 {
  font-size: 15px;
  margin-top: 10px;
  display: inline-block;
}

.testimonial-content h6 span {
  margin-left: 3px;
}

.testimonial-slider .slick-dots li {
  border-radius: 50%;
  color: #fff;
}

.testimonial-slider .slick-dots li button::before {
  display: none;
}

/*--------------------*/
/* CLIENTS BRAND */
/*--------------------*/

#clients-brand{
  background-color: #fff;
  display: inline;
  float: left;
  padding: 70px 0;
  width: 100%;
}

.clients-brand-area{
  display: inline;
  float: left;
  width: 100%;
}

.clients-brand-slide {
  margin-bottom: 0;
  width: 100%;
}

.clients-brand-slide .slick-slide{
  outline: none;
}

.single-brand {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  display: inline;
  float: left;
  height: 120px;
  padding-top: 47px;
  text-align: center;
  width: 100%;
}

.single-brand img {
  display: inline-block;
}


/*--------------------*/
/* LATEST NEWS */
/*--------------------*/


#latest-news{
  background-color: #f8f8f8;
  display: inline;
  float: left;
  padding: 70px 0;
  width: 100%;
}

.latest-news-content{
  display: inline;
  float: left;
  margin-top: 50px;
  width: 100%;
}

.blog-news-single {
  background-color: #fff;
  display: inline;
  float: left;
  width: 100%;
  padding-bottom: 20px;
}

.blog-news-img {
  display: inline;
  float: left;
  height: 270px;
  width: 100%;
}

.blog-news-imgb {
  display: inline;
  float: left;
  height: 370px;
  width: 100%;

}
.blog-news-img img {
  width: 100%;
  height: 100%;
}
.blog-news-imgb img {
  width: 25%;
  height: 75%;
}

.blog-news-title {
  display: inline;
  float: left;
  padding: 20px 15px 15px;
  width: 100%;
}
.blog-news-title-video {
  display: inline;
  float: left;
  padding: 20px 15px 15px;
  width: 100%;
}
.blog-news-title h2,
.blog-news-title h2>a{
  color: #838282;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  font-weight: 500;
  /*text-transform: uppercase;*/
  padding: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.blog-news-title h2>a:hover{
  text-decoration: none;
  outline: none;
}

.blog-news-title p {
  font-size: 13px;
  letter-spacing: 0.5px;
  /*text-transform: uppercase;*/
}

.blog-news-title .blog-author{
  /*text-transform: uppercase;*/
}

.blog-news-title .blog-date{}
.blog-news-details{
  display: inline;
  float: left;
  padding: 0 15px;
  width: 100%;
}

.blog-news-details p{
  font-size: 14px;
}

.blog-more-btn {
  color: #838282;
  display: inline-block;
  font-size: 14px;
  margin-top: 15px;
  text-decoration: none;
}

.blog-more-btn:hover,
.blog-more-btn:focus{
  text-decoration: none;
  outline: none;
}

.blog-more-btn i{
  margin-left: 5px;
}


/*--------------------*/
/* SUBSCRIBE US */
/*--------------------*/


#subscribe{
  background-attachment: fixed !important;
  background-image: url("assets/images/subscribe-bg.jpg");
  background-repeat: repeat;
  background-size: cover;
  color: #ffffff;
  display: inline;
  float: left;
  width: 100%;
}

.subscribe-overlay{
  background-color: rgba(0,0,0,0.6);
  padding: 90px 0;
  float: left;
  width: 100%;
}
.subscribe-area{
  display: inline;
  float: left;
  text-align: center;
  width: 100%;
}

.subscribe-area h2 {
  letter-spacing: 0.5px;
  margin-bottom: 30px;
  /*text-transform: uppercase;*/
}

.subscrib-form {
  margin: 0 auto;
  width: 600px;
  position: relative;
}

.subscrib-form input {
  border: medium none;
  border-radius:4px;
  color: #444;
  font-size: 18px;
  height: 50px;
  outline: medium none;
  padding: 5px 105px 5px 10px;
  width: 100%;
}

.subscribe-btn {
  border: medium none;
  border-radius: 0 4px 4px 0;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  height: 50px;
  top: 0;
  letter-spacing: 0.5px;
  outline: medium none;
  position: absolute;
  right: 0;
  /*text-transform: uppercase;*/
  width: 120px;
}


/*--------------------*/
/* FOOTER */
/*--------------------*/


#footer{
  /*background-color: #171717;*/
  background-color: rgba(0, 54, 74, 1);
  display: inline;
  float: left;
  padding: 65px 0;
  width: 100%;
}

.footer-left{
  display: inline;
  float: left;
  width: 100%;
}

.footer-left p {
  color: #5c5c5c;
  font-size: 14px;
  margin: 0;
}

.footer-left p a{
  color: #5c5c5c;
}

.footer-left p a:hover{
  text-decoration: none;
  outline: none;
}

.footer-right{
  display: inline;
  float: left;
  text-align: right;
  width: 100%;
}

.footer-right a{
  color: #5c5c5c;
  font-size: 18px;
  padding: 0 10px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/*ESTILOS NUEVOS DE FOOTER CON MEDIA QUERIES*/
/*@media (min-width: 1200px) {
	.informacion {
		text-align: right;
	}
}
@media (min-width: 768px) {
	.informacion {
		text-align: center;
	}
}*/
/*@media (min-width: @screen-sm-min) {
	.informacion {
		text-align: center;
	}
}
@media (min-width: @screen-lg-min) {
	.informacion {
		text-align: right;
	}
}
*/

.informacion {
    text-align:center;
}
.direccion {
    text-align:center;

}
.logo-buap60 {
	text-align:center;
}
@media (min-width: 768px) {
.informacion {
    margin-top:-10px;
}
.enlaces {
	margin-top:-25px;
}
/*.direccion {
	margin-top:20px;
}*/
.logo-buap60 {
	margin-top:-15px;
}
}
@media (min-width: 992px) {
.informacion {
    text-align:right;
	padding-right: 130px;
}
.enlaces {
	margin-top:-5px;
}
}
@media (min-width: 992px) {
.direccion {
    text-align:right;
	padding-left: 0px;
}
}
@media (min-width: 1200px) {
.informacion {
    text-align:right;
	padding-right: 130px;
}
.enlaces {
	margin-top:-5px;
}
}
@media (min-width: 1200px) {
.direccion {
    text-align:right;
	padding-right:35px;
	padding-left: 35px
}
}

/*--------------------*/
/* PORTFOLIO PAGE */
/*--------------------*/



/*--------------------*/
/* NOVEDADES BB */
/*--------------------*/

#single-page-header-novedades{
  background-attachment: fixed !important;
  background-image: url("templates/frontend/images/imagenes_fondo/novedades.png");
  background-repeat: repeat;
/*  background-size: cover;*/
  color: #ffffff;
  display: inline;
  float: left;
  width: 100%;
}

#novedades{
/*  display: inline;
  float: left;*/
    padding: 20px 0 70px 0;
  width: 100%;
	display: -webkit-flex;
	display: -webkit-inline-flex;
	display: flex;
}


div.contenedor {
	text-align: left;
	margin: auto;
/*	width: 20%;*/
	width: 620px;
}

div.appfacilitadores {
	width: 830px;
}


/*section.novedades-encabezado {
	padding-left: 18%;
}*/

div.novedades-encabezado {
    padding: 0px 0px 30px;
    border-bottom: 6px solid #b6dce6;
 	border: 6px solid;
    border-image: linear-gradient(to left, rgb(255, 255, 255), #b6dce6, white) 1;
    padding: 20px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

div.novedades-encabezado h1 {
	font-size: 5.5em;
	font-weight: 700;
	color: #51C3E3;
	text-align: center;
	margin-top: 0;
}

div.novedades-encabezado h2 {
	color: #003A5D;
	font-size: 1.6em;
	line-height: .3em;
	text-align: center
}
.blackboard {
	margin-left: -7px;
	display: block;
	margin: auto;
	margin-top: 5px;
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
	transform: scale(1, 1);
}




div.novedades-contenido {

}

p.novedades-texto-contenido {
	font-size: 1.8em;
	color: #000000;
	text-align: center;
	margin-bottom: 30px;
	margin-top: 50px;
}
p.novedades-texto-contenido span{
    font-size: 1.1em;
    font-weight: 600;
    color: #e04f0b;
}

p.novedades-texto-contenido.pcentrado {
	text-align: center;
}
div.app {
/*	text-align: center;*/
/*	width: 55%;*/
}



/*.grow { transition: all .3s ease-in-out; }
.grow:hover { transform: scale(.5); }*/

@keyframes pound {
	from { transform: none; }
	50% { transform: scale(.6); }
	to { transform: none; }
}

div.grow {
	animation: .7s ease-out 0s 2 pound;
}

div.app-facilitadores:hover {
	display: inline-block;
	animation: pound .5s;
	transform-origin: center;
}




.titulo-app, .titulo-appf {
	font-size: 2.5em;
	font-weight: 800;
	color: #003A5D;
	text-align: center;
	line-height: 95%;
}

/*.titulo-app:hover {
	color: #00B2E3;
}*/

a.app {
	text-decoration: none;
	color: #FFFFFF;
}

div.app a:hover{
	color: #C62E31;
}



img.flecha-app {
	display: block;
	margin: auto;
	margin-bottom: 15px;
}

/*div.instalacion-app-facilitador {
	width: 55%;
}*/

a.boton-app-facilitador {
	display: block;
	margin: auto;
	text-decoration: none;
	text-align: center;
}

.boton-app-facilitador {
	-moz-box-shadow: 4px 4px 3px -2px #a84b1c;
	-webkit-box-shadow: 4px 4px 3px -2px #a84b1c;
	box-shadow: 4px 4px 3px -2px #a84b1c;
	background-color:#ff7e3e;
	-moz-border-radius:24px;
	-webkit-border-radius:24px;
	border-radius:24px;
    border: 5px solid #e05911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:1.5em;
	padding:12px 12px;
	text-decoration:none;
	text-shadow:0px 1px 4px #803e1e;
	font-weight: 400;
}
.boton-app-facilitador:hover {
	background-color:#ef7635;
	border:6px solid #B14A0F;
	color:#ffffff;
	font-weight: 600;
/*	background: linear-gradient(#e2651e, #fd813e, #e2651e);*/
}
.boton-app-facilitador:active {
	position:relative;
	top:1px;
}

.boton-app-alumnos {
	-moz-box-shadow: 4px 4px 3px -2px #a84b1c;
	-webkit-box-shadow: 4px 4px 3px -2px #a84b1c;
    box-shadow: 4px 4px 3px -2px #1f5d73;
    background-color: #46cdfd;
	-moz-border-radius:24px;
	-webkit-border-radius:24px;
	border-radius:24px;
    border: 6px solid #2b89ab;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:1.5em;
	padding:12px 12px;
	text-decoration:none;
    text-shadow: 0px 1px 4px #0b2933;
	font-weight: 400;
	display: block;
	text-align: center;

}
.boton-app-alumnos:hover {
background-color: #43b2da;
border: 6px solid #1f6984;
	color:#ffffff;
	font-weight: 600;
	text-decoration: none;
/*	background: linear-gradient(#45abd0, #58C3E9, #45abd0);*/
}
.boton-app-alumnos:active {
	position:relative;
	top:1px;
}
div.facilitadores {
	width: 50%;
	display: block;
	float: left;
	padding-right: 2%;
}

div.alumnos {
	width: 50%;
	display: block;
	float: right;
	padding-left: 2%;
}



/*ESTILOS APP FACILITADORES*/
/*div.listado li {
	font-size: 22px;
	color: #000000;
	font-weight: 600;
}

div.listado span {
	font-weight: 800;
	color: #613a9c;
	font-size: 28px;
    line-height: 9px;
}
div.listado li:hover .collaborate{
	font-weight:900;
	color: #432473;
}*/
/*div.listado ul {
	list-style-image: url('templates/frontend/images/novedades-blackboard/bullet-facilitador.png');
}
div.listado ul li:hover {
	list-style-image: url('templates/frontend/images/novedades-blackboard/bullet-facilitador-hover.png');
	color: #B9501B;
}*/




/* imagen fondo novedades */


#single-page-header-contacto{
  background-attachment: fixed !important;
  background-image: url("templates/frontend/images/contacto.png");
  background-repeat: repeat;
  background-size: cover;
  color: #ffffff;
  display: inline;
  float: left;
  width: 100%;
}

#single-page-header-faq{
  background-attachment: fixed !important;
  background-image: url("templates/frontend/images/faqs.png");
  background-repeat: repeat;
  background-size: cover;
  color: #ffffff;
  display: inline;
  float: left;
  width: 100%;
}
#single-page-header-faq-moodle{
  background-attachment: fixed !important;
  background-image: url("templates/frontend/images/banermoodle.png");
  background-repeat: repeat;
  background-size: cover;
  color: #ffffff;
  display: inline;
  float: left;
  width: 100%;
}
#single-page-header-faq-blackboard{
  background-attachment: fixed !important;
  background-image: url("templates/frontend/images/banerblackboard.png");
  background-repeat: repeat;
  background-size: cover;
  color: #ffffff;
  display: inline;
  float: left;
  width: 100%;
}
#single-page-header-faq-alumnosb{
  background-attachment: fixed !important;
  background-image: url("templates/frontend/images/baneralumnosb.png");
  background-repeat: repeat;
  background-size: cover;
  color: #ffffff;
  display: inline;
  float: left;
  width: 100%;
}
#single-page-header-faq-videot{
  background-attachment: fixed !important;
  background-image: url("templates/frontend/images/banervideos.png");
  background-repeat: repeat;
  background-size: cover;
  color: #ffffff;
  display: inline;
  float: left;
  width: 100%;
}
#single-page-header-soporte{
  background-attachment: fixed !important;
  background-image: url("templates/frontend/images/banersoporte.png");
  background-repeat: repeat;
  background-size: cover;
  color: #ffffff;
  display: inline;
  float: left;
  width: 100%;
}
.overlay{
   background-color: rgba(0, 0, 0, 0.08);
  padding: 50px 0;
  float: left;
  width: 100%;
}

.single-page-header-left{
  display: inline;
  float: left;
  width: 100%;
    padding-left: 20px;
    border-radius: 10px;
}

.single-page-header-left h2{
  /*text-transform: uppercase;*/
}
.single-page-header-left h2{
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.43);
}
.single-page-header-left p {
  font-size: 15px;
}

.single-page-header-right{
  display: inline;
  float: left;
  width: 100%;
	    border-radius: 7px;
    height: 2.5em;
/*    background: -webkit-linear-gradient(to right, rgba(255,0,0,0), rgba(0, 0, 0, 0.22));
    background: -o-linear-gradient(to right, rgba(255,0,0,0), rgba(0, 0, 0, 0.22));
    background: -moz-linear-gradient(to right, rgba(255,0,0,0), rgba(0, 0, 0, 0.22));
    background: linear-gradient(to right, rgba(255,0,0,0), rgba(0, 0, 0, 0.22));*/
    font-size: 1.5em;
}

.single-page-header-right .breadcrumb {
  background: transparent none repeat scroll 0 0;
  border-radius: 0;
  text-align: right;
}

.single-page-header-right .breadcrumb li a{
  color: #fff;
}

#portfolio{
  background-color: #fff;
  display: inline;
  float: left;
  width: 100%;
  min-height: 400px;
  padding: 70px 0;
}

.portfolio-area{
  display: inline;
  float: left;
  width: 100%;
}

.portfolio-menu{
  display: inline;
  float: left;
  text-align: center;
  padding: 0 20px;
  width: 100%;
}

.portfolio-menu ul li {
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  padding: 6px 15px;
  /*text-transform: uppercase;*/
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.portfolio-menu ul li:hover,
.portfolio-menu ul li.active{
  color: #fff;
}

#mixit-container .mix {
  display: none;
}

.portfolio-container {
  display: inline;
  float: left;
  margin-top: 50px;
  width: 100%;
}

.single-portfolio{
  background-color: #ccc;
  display: inline;
  float: left;
  width: 25%;
}

.single-item>img {
  height: 220px;
  width: 100%;
}

.single-item{
  display: inline;
  float: left;
  position: relative;
  width: 100%;
}

.single-item-content {
  color: #fff;
  height: 100%;
  left: 0;
  opacity: 0;
  padding-top: 55px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
 -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);

  -webkit-backface-visibility: hidden; /*for a smooth font */
}

.single-item:hover .single-item-content{
  background-color: rgba(0,0,0,0.7);
 opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.single-item-content::after {
  content: "";
  height: 85%;
  left: 18px;
  top: 15px;
  width: 90%;
  position: absolute;
  z-index: -1;
}

.view-icon{
  color: #fff;
  font-size: 30px;
}


/*--------------------*/
/* BLOG PAGE */
/*--------------------*/


#blog-archive {
  background-color: #f8f8f8;
  display: inline;
  float: left;
  padding: 50px 0;
  width: 100%;
}

.blog-archive-area{
  display: inline;
  float: left;
  width: 100%;
}

.blog-archive-left{
  display: inline;
  float: left;
  width: 100%;
}

.blog-archive-left .blog-news-single{
  margin-bottom: 30px;
}

.blog-archive-left .blog-news-img {
  height: 350px;
}

.blog-pagination {
  display: inline;
  float: left;
  margin-top: 20px;
  padding: 15px 0;
  width: 100%;
}

.pagination-nav{
  display: inline-block;
  width: 100%;
  text-align: center;
}

.pagination-nav li {
  display: inline-block;
}

.pagination-nav li a {
  color: #555;
  border: 1px solid #ccc;
  display: inline-block;
  margin: 0 5px;
  padding: 5px 13px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.pagination-nav li a:hover,
.pagination-nav li a:focus {
  color: #fff;
  text-decoration: none;
  outline: none;
}

.blog-side-bar{
  display: inline;
  float: left;
  width: 100%;
}

.sidebar-widget{
  display: inline;
  float: left;
  margin-bottom: 30px;
  width: 100%;
}

.sidebar-widget>p{
  font-size: 14px;
}

.sidebar-widget ul li{}
.sidebar-widget ul>li>a{
  display: inline-block;
  font-size: 14px;
  margin-bottom: 10px;
}

.search-group{
  display: inline;
  float: left;
  width: 100%;
  position: relative;
}

.search-group .blog-search-btn {
  border: medium none;
  color: #fff;
  font-size: 18px;
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 50px;
}

.search-group input[type="search"] {
  height: 40px;
  outline: medium none;
  padding: 5px 10px 5px 55px;
  width: 100%;
}

.search-group input[type="search"]:focus{
  outline: none;
}

.widget-title {
  color: #333;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 25px;
  position: relative;
}

.widget-title::after {
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: 30px;
  width: 30px;
}

.widget-catg li a {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 5px;
  padding-left: 10px;
 -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.widget-catg li a:hover,
.widget-catg li a:focus{
  text-decoration: none;
  outline: none;
}

.widget-catg li::before{
  content: '\f138';
  font-family: fontAwesome;
}

.tag-cloud{
  display: inline;
  float: left;
  width: 100%;
  text-align: left;
}

.tag-cloud a {
  border: 1px solid #ccc;
  display: inline-block;
  font-size: 15px;
  margin-bottom: 8px;
  margin-right: 3px;
  padding: 5px 10px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.tag-cloud a:hover,
.tag-cloud a:focus{
  color: #fff;
  text-decoration: none;
  outline: none;
}

.widget-archive li{}
.widget-archive li a{
  display: inline-block;
  font-size: 14px;
  margin-bottom: 10px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.widget-archive li a span{
  margin-left: 5px;
  display: inline-block;
}

.widget-archive li a:hover,
.widget-archive li a:focus{
  text-decoration: none;
}

.blog-single-details blockquote {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
}

.blog-single-details blockquote p{
  font-size: 18px;
}

.blog-single-details blockquote span {
  /*text-transform: uppercase;*/
  font-size: 16px;
}

.blog-single-details ul,
.blog-single-details ol {
  padding-left: 25px;
  margin-bottom: 20px;
}

.blog-single-details ul li{
  list-style: circle;
  margin-bottom: 5px;
}

.blog-single-details h1,
.blog-single-details h2,
.blog-single-details h3,
.blog-single-details h4,
.blog-single-details h5,
.blog-single-details h6{
  color: #333;
}

.blog-single-details h3{
  margin-top: 0px;
}

.blog-single-bottom {
  display: inline;
  float: left;
  margin-top: 50px;
  padding: 10px 0;
  width: 100%;
}

.blog-single-tag{
  display: inline;
  font-size: 14px;
  float: left;
  width: 100%;
  text-align: left;
}

.blog-single-tag a {
  margin-left: 5px;
  color: #333;
}

.blog-single-tag a:hover,
.blog-single-tag a:focus {
  text-decoration: none;
  outline: none;
}

.blog-single-social{
  display: inline;
  float: left;
  width: 100%;
  text-align: right;
}

.blog-single-social a {
  border: 1px solid #ccc;
  display: inline-block;
  font-size: 14px;
  margin-right: 5px;
  min-width: 30px;
  padding: 5px;
  text-align: center;
}

.blog-single-social a:hover,
.blog-single-social a:focus {
  text-decoration: none;
  outline: none;
}

.blog-navigation-area{
  display: inline;
  float: left;
  width: 100%;
}

.blog-navigation-area {
  display: inline;
  float: left;
  margin-top: 20px;
  width: 100%;
}

.blog-navigation-prev{
  float: left;
  text-align: left;
}

.blog-navigation-prev a {
  border-left: 2px solid #ccc;
  display: inline-block;
  padding-left: 15px;
}

.blog-navigation-prev a:hover,
.blog-navigation-prev a:focus{
  text-decoration: none;
  outline: none;
}

.blog-navigation-prev a > h5 {
  color: #222;
  font-size: 16px;
  margin-bottom: 0;
  /*text-transform: uppercase;*/
}

.blog-navigation-prev a>span{
  font-size: 14px;
}

.blog-navigation-next{
  float: right;
  text-align: right;
}

.blog-navigation-next a {
  border-right: 2px solid #ccc;
  display: inline-block;
  padding-right: 15px;
}

.blog-navigation-next a:hover,
.blog-navigation-next a:focus{
  text-decoration: none;
  outline: none;
}

.blog-navigation-next a > h5 {
  color: #222;
  font-size: 16px;
  margin-bottom: 0;
  /*text-transform: uppercase;*/
}

.blog-navigation-next a>span{
  font-size: 14px;
}

.comments-box-area {
  display: inline;
  float: left;
  margin-top: 30px;
  padding: 20px 0;
  width: 100%;
}

.comments-box-area h2 {
  color: #333;
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 10px;
  position: relative;
}

.comments-box-area h2::after {
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: 42px;
  width: 50px;
}

.comments-box-area p {
  font-size: 15px;
}

.comments-form{
  margin-top: 10px;
}

.comments-form input{
  height: 40px;
  font-size: 16px;
  border-radius: 0;
}

.comments-form textarea {
  border-radius: 0;
  font-size: 16px;
  height: 200px;
  padding: 10px;
  width: 70%;
}

.comments-form .form-control:focus {
  box-shadow: none;
}

.comments-form .form-group {
  margin-bottom: 20px;
}

.comment-btn {
  padding: 10px 15px;
  outline: none;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #222;
  /*text-transform: uppercase;*/
  font-size: 15px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.comment-btn:hover{
  color: #fff;
}


/*--------------------*/
/* NOVEDADES BLACKBOARD */
/*--------------------*/
.titulo-novedades {}





/*--------------------*/
/* CONTACT PAGE */
/*--------------------*/

#contact{
  display: inline;
  float: left;
  padding: 70px 0;
  width: 100%;
}

.cotact-area{
  display: inline;
  float: left;
  margin-top: 50px;
  width: 100%;
}

.contact-area-left{
  display: inline;
  float: left;
  width: 100%;
}

.contact-area-left h4{
  color: #333;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 25px;
  position: relative;
}

.contact-area-left h4::after {
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: 30px;
  width: 30px;
}

.contact-area-left p{
  font-size: 15px;
}

.contact-area-left .single-address {
  font-size: 15px;
  padding-right: 62px;
}

.contact-area-right{
  display: inline;
  float: left;
  width: 100%;
}

.contact-form textarea{
  width: 100%;
}

.contact-social{
  text-align: left;
  margin-top: 10px;
}

#google-map{
  display: inline;
  float: left;
  width: 100%;
}

#google-map iframe {
  margin-bottom: -5px;
}


/*--------------------*/
/* ERROR PAGE */
/*--------------------*/


#error{
  display: inline;
  float: left;
  padding: 70px 0;
  width: 100%;
}

.errror-page-area{
  display: inline;
  float: left;
  text-align: center;
  width: 100%;
}

.error-title {
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 75px;
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 40px 50px;
}

.error-content{
  display: inline;
  float: left;
  text-align: center;
  width: 100%;
}

.error-content span {
  font-size: 35px;
  font-weight: 300;
}

.error-content p {
  font-size: 18px;
  margin-top: 10px;
}

.error-content .error-home {
  color: #fff;
  display: inline-block;
  margin-top: 60px;
  padding: 10px 15px;
}

	/*--------------------------------
	INICIO ESTILOS APP FACILITADORES
	----------------------------------*/

/*icono app facilitadores*/
/*div.interior-facilitadores {
	float: left;
	transform: scale(0.5, 0.5);
	-ms-transform: scale(0.5, 0.5);
	-webkit-transform: scale(0.5, 0.5);
	margin-top: -75px;
	margin-left: -45px;
	display: block;
}*/
/*div contenedor encabezado*/
div.novedades-encabezado-interior {
    padding: 0px 0px 30px;
    border-bottom: 6px solid #b6dce6;
 	border: 6px solid;
    border-image: linear-gradient(to left, rgb(255, 255, 255), #b6dce6, white) 1;
    padding: 20px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
/*	margin-left: 250px;*/
	margin-top: -100px;
	margin-bottom: 70px;
}
/*div contenedor del icono y texto app facilitadores*/
.contenedor-app-facilitadores-int{
    float: left;
    margin-top: -160px;
    margin-left: 40px;
    margin-bottom: 60px;
}
/*texto del icono app facilitadores*/
.titulo-appf-int{
	    font-size: 1.7em;
    font-weight: 800;
    color: #003A5D;
    text-align: center;
    line-height: 95%;
    margin-top: -60px;
}
div.novedades-encabezado-interior h1 {
	font-size: 3em;
	font-weight: 800;
	color: #51C3E3;
	text-align: center;
	margin-top: 0;
}

div.novedades-encabezado-interior h2 {
	color: #003A5D;
	font-size: 1.6em;
	line-height: .3em;
	text-align: center;
}

/*======================///////////////
ESTILOS APP FACILITADORES 2
=====================///////////////////////*/
/*.subtitulo {
    color: #003A5D;
    font-size: 1.4em;
    line-height: .6em;
    text-align: center;
}*/
.blackboard {
	margin-left: -7px;
	display: block;
	margin: auto;
	margin-top: 5px;
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
	transform: scale(1, 1);
	position: absolute;
    left: 94px;
    width: 79%;
}
/*.title-area-borde{
	border: 6px solid;
    border-image: linear-gradient(to left, rgb(255, 255, 255), #b6dce6, white) 1;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}*/
.logo-blackboard {
    margin-bottom: 20px;
    width: 399px;
}
.div-app-facilitadores {
	border: 6px solid;
    border-image: linear-gradient(to top, rgb(255, 255, 255), #b6dce6, white) 1;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
}
.titulo-app-fac{
	font-size: 1.5em;
    font-weight: 800;
    color: #003A5D;
    text-align: center;
    line-height: 95%;
}
.icono-facilitadores {
	display: block;
    margin: auto;
	width: 30%;
}

/*======================///////////////
FIN DE ESTILOS APP FACILITADORES 2
=====================///////////////////////*/
/*======================///////////////
INICIO DE ESTILOS INSTALACION APP FACILITADORES
=====================///////////////////////*/
h1.title.instalacion{
    font-size: 2.6em;
}
p.instalacion-app{
	margin-bottom: 20px;
	margin-top: 0;
}
div.contenido-instalacion-facilitador, div.contenido-instalacion-alumno {
    margin-top: 70px;
    background-color: #ebfaff;
    border-radius: 15px;
    padding: 50px;
}
div.contenido-instalacion-facilitador {
    background-color: #fff6f0;
}
#video{
	margin-top: 50px;
}
.instalacion-android {
	display: block;
	float: left;
}
.instalacion-iphone {
	display: block;
	float: right;
}
button.instalacion-android, button.instalacion-android:hover, button.instalacion-android:focus{
	color: white;
	text-decoration: inherit;
}
button.instalacion-iphone, button.instalacion-iphone:hover, button.instalacion-iphone:focus{
	color: white;
	text-decoration: inherit;
}
#instalacion-facilitadores-android{
	width: 100%;
    padding: 0;
    text-align: center;
	margin-top: 50px;
}
#instalacion-facilitadores-mac{
	width: 100%;
    padding: 0;
    text-align: center;
    margin-top: 50px;
}
.iframe-instalacion {
	box-shadow: 0px 2px 7px #00000047;
    border-radius: 15px;
	width: 100%;
}
/*======================///////////////
FIN DE ESTILOS INSTALACION APP FACILITADORES
=====================///////////////////////*/
/*Titulo Novedades Blackboard*/
.novedades-encabezado-interior {
	display: block;
	float: right;
	position: relative;
	margin-top: 23px;
}
.interior-facilitadores {
	display:block;
	float: left;
}
/*div contenedor de la lista*/
.listado-contenedor {
	width: 900px;
	background-color: #fff8f4;
	display: block;
	margin-top: 240px;
}
/*borde del primero li*/
.listado-facilitadores li:first-child {
	border-top: 4px dotted #FDC3A6;
}
/*estilo de elementos de lista*/
.lista {
	font-size: 1.4em;
	color: #000000;
	list-style-image: url(templates/frontend/images/novedades-blackboard/bullet-facilitador.png);
	border-bottom: 4px dotted #FDC3A6;
	padding: 10px 0 10px 0;
}
/*estilo de elementos de lista mouse encima*/
.lista:hover {
	font-weight: 700;
	color: #BA501C;
	list-style-image: url(templates/frontend/images/novedades-blackboard/bullet-facilitador-hover.png);
	background-color: #ffd8c5;
}
/*estilo de texto Blackboard Collaborate mouse encima*/
.lista:hover .collaborate{
	font-weight: 800;
	color: #785AA6;
}
/*estilo de texto Blackboard Collaborate*/
.collaborate {
	font-size: 1.6em;
	font-weight: 700;
	color: #41266A;
	line-height: 0em;
}
/*estilo del icono app facilitadores del título*/
.icono-facilitadores-titulo {
	-ms-transform: scale(.5, .5);
    -webkit-transform: scale(.5, .5);
	transform: scale(.5, .5);
}
.logo-android, .logo-iphone {
    position: relative;
    left: -2px;
    top: 2px;
    display: block;
}
.logo-android, .logo-iphone {
    top: 0px;
}
button.instalacion-android, button.instalacion-iphone{
    height: 4em;
	padding-right: 54px;
	margin-top: 20px;
    width: 45%;
}
button.instalacion-android p, button.instalacion-iphone p{
	display: block;
    float: right;
    position: relative;
    top: -60px;
    left: 43px;
	font-weight: 300;
}
.instalacion-android span, .instalacion-iphone span{
	font-weight: 600;
}
p.novedades-texto-contenido span.texto-azul{
	font-size: 1.1em;
    font-weight: 600;
    color: #0b7fa0;
}

	/*--------------------------------
	FIN DE ESTILOS APP FACILITADORES
	--------------------------------*/
p.novedades-texto-contenido span.t_azul_claro{
	font-weight: 700;
    color: #1ca4d3;
	font-size: inherit;
}
p.novedades-texto-contenido span.t_azul_obscuro{
		font-weight: 700;
    color: #0e4f79;
	font-size: inherit;
}
p.novedades-texto-contenido span.t_negro{
	font-weight: 600;
    color: #000000;
	font-size: inherit;
}
section.novedades-encabezado p{
	margin-bottom: 0;
}
section.novedades-encabezado p:nth-child(3){
    margin-top: 0.3em;
    margin-bottom: 2em;
}
div.app.grow{
	position: relative;
    height: 21em;
}
img.icono-facilitador, img.icono-alumnos{
	    height: 254px;
    width: 234px;
    position: absolute;
    left: 31px;
}
p.titulo-appf, p.titulo-app{
	position: absolute;
    top: 254px;
    left: 31px;
}
p.titulo-app{
    left: 71px;
}
.title-area h1.title {
	font-size: 4.5em;
}
h2.subtitulo {
	font-size: 1.28em;
	color: #003A5D;
    line-height: .6em;
    text-align: center;
}
.logo-blackboard {
    margin-bottom: 20px;
    width: 345px;
}
div.title-area.title-area-borde h1.title.instalacion{
	font-size: 2.3em;
}
div.title-area.title-area-borde img.logo-blackboard{
	width: 348px;
}
p.novedades-texto-contenido span.t_azul_fuerte {
    color: #367093;
    font-size: inherit;
}
p.novedades-texto-contenido span.t_naranja_fuerte {
	color: #ba450d;
    font-size: inherit;
}
p.novedades-texto-contenido span.t_naranja_claro {
	color: #e04f0b;
    font-size: inherit;
}
p.novedades-texto-contenido span.t_verde_claro {
	color: #00A674;
    font-size: inherit;
}
p.novedades-texto-contenido span.t_azul_claro {
	color: #31A5C5;
    font-size: inherit;
	font-weight: 600;
}
p.novedades-texto-contenido span.t_gris_italica {
color: #7a7a7a;
font-style: oblique;
font-size: inherit;
font-weight: 500;
}
div.contenedor-acordeon.bg_collaborate{
	background-color: #fdf2ff;
}
p.novedades-texto-contenido span.t_morado_obscuro {
    color: #912ba0;
	font-size: inherit;
}
p.novedades-texto-contenido span.t_azul_fuerte_t {
    color: #085768;
	font-size: inherit;
}

img.imgSVG {
	margin-top: 17px;
}

/*======================///////////////
			START RESPONSIVE STYLE
=====================///////////////////////*/
@media screen and (min-width: 1200px){
div.novedades-encabezado {
    height: 19em;
	width: 547px;
	margin: auto;
	position: relative;
}
.blackboard {
    display: block;
    margin: auto;
        margin-top: auto;
    margin-top: 5px;
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    position: absolute;
left: 54px;
width: 91%;
}

}

@media(max-width:1199px ){
	#search-icon {
	  right: 4%;
	}
  .slide-article {
    padding-left: 30px;
    padding-right: 0;
    padding-top: 90px;
  }
  .slide-article h1 {
    font-size: 40px;
  }
  .blog-news-title h2,
  .blog-news-title h2 > a {
    font-size: 18px;
  }
#novedades {
    padding: 10px 0 40px 0;
}
div.novedades-encabezado {
    padding-bottom: 30px;
    position: relative;
    height: 19em;
}
}


@media(max-width:991px ){


	#menu-area #navbar {
    padding-right: 55px;
  }
  .navbar-default .navbar-nav > li > a {
    font-size: 13px;
    padding-left: 4px;
    padding-right: 4px;
  }
  #search {
    margin: 0 auto;
    width: 90%;
  }
  #search-icon {
    right: 3%;
  }
  .slide-article {
    padding-left: 60px;
    padding-right: 0;
    padding-top: 15px;
  }
  .slide-article h1 {
    font-size: 30px;
    line-height: 35px;
  }
  .slide-article p {
    color: #fff;
    margin-bottom: 40px;
  }
  .why-choose-us {
    margin-top: 20px;
  }
  .single-counter {
    margin-bottom: 30px;
  }
  .single-table-price {
    margin-bottom: 40px;
  }
  .single-team-member {
    margin-bottom: 50px;
  }
  .slick-prev {
    left: -10px;
  }
  .slick-next {
    right: -10px;
  }
  .blog-news-single {
    margin-bottom: 30px;
  }

  .title-area {
    padding: 0 100px;
  }
  .single-portfolio {
    width: 33.33%;
  }
  .single-item-content::after {
    width: 87%;
  }
  .blog-side-bar {
    margin-top: 50px;
  }
  .contact-area-right {
    margin-top: 40px;
  }
#single-page-header-novedades{
  background-attachment: fixed !important;
  background-image: url("templates/frontend/images/imagenes_fondo/novedades-900.png");
  background-repeat: repeat;
  background-size: cover;
  color: #ffffff;
  display: inline;
  float: left;
  width: 100%;
}
#novedades {
    padding: 10px 0 40px 0;
}
div.novedades-encabezado {
	padding-bottom: 30px;
}

}






@media(max-width:767px ){
  .header-bottom {
    padding: 0;
  }
	.header-contact ul li:last-child {
    display: none;
  }
  .navbar-brand {
    margin-top: 0;
	  margin-bottom: 30px;
  }
  #search-icon {
    right: 11%;
    top: 5px;
  }
  .main-nav li {
    padding: 0;
  }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #fff;
  }
  .vertical-centered-text {
  -ms-display: flex;
  display: flex;
  /* alineacion vertical */
    justify-content: center;
    align-content: center;
   /* alineacion horizontal */
  justify-content: center;
}
  #search {
    width: 100%;
  }
  .slider-img {
    display: none;
  }
  .slide-article {
    padding-top: 10px;
  }
  .title-area {
    padding: 0 30px;
  }
  .single-feature {
    text-align: center;
    padding: 0 15px;
  }
  .single-page-header-left {
    text-align: center;
  }
  .single-page-header-right .breadcrumb {
    text-align: center;
/*    margin-top: 20px;*/
  }
  .footer-left {
    text-align: center;
    margin-bottom: 20px;
  }
  .footer-right {
    text-align: center;
  }
  .portfolio-menu {
    padding: 0;
  }
  .portfolio-menu ul li {
    margin: 0 3px 10px;
    padding: 6px 10px;
  }
  .blog-single-tag {
    text-align: center;
  }
  .blog-single-social {
    text-align: center;
    margin-top: 20px;
  }

#single-page-header-novedades{
  background-attachment: fixed !important;
  background-image: url("templates/frontend/images/imagenes_fondo/novedades-767-celular.png");
  background-repeat: repeat;
  background-size: cover;
  color: #ffffff;
  display: inline;
  float: left;
  width: 100%;
}

}

@media screen and (max-width:767px) and (min-width: 481px) {

.blackboard {
width: 430px;
position: static;
}
div.novedades-encabezado{
	height: 18em;
}
div.facilitadores, div.alumnos{
	transform: scale(0.8, 0.8);
	-ms-transform: scale(0.8, 0.8);
	-webkit-transform: scale(0.8, 0.8);
}
	div.app.grow{
		position: inherit;
		text-align: center;
	}
	img.icono-facilitador, img.icono-alumnos{
		position: inherit;
	}
	section.novedades-encabezado p{
		position: inherit;
	}
}

/*@media screen and (max-width:767px) and (min-width:481px) {

div.novedades-encabezado {
    padding-bottom: 30px;
    width: 85%;
    margin: auto;
    position: relative;
}
div.novedades-encabezado h1 {
    margin-top: 0;
    font-size: 15.5vw;
    margin-bottom: 0;
}
div.novedades-encabezado h2 {	
    line-height: .3em;
    font-size: 4.39vw;
}
.blackboard {
    position: absolute;
    left: 24px;
    width: 100%;
}
}*/



@media(max-width:480px ){
	#search input {
    width: 85%;
  }
  #search-icon {
    right: 15%;
    top: 5px;
  }
  .slide-article h1 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
  }
  .slide-article p {
    margin-bottom: 15px;
    font-size: 14px;
  }
  .read-more-btn {
    font-size: 14px;
    padding: 8px 14px;
  }
  .main-slider .slick-prev, .main-slider .slick-next {
    height: 40px;
    top: 46%;
    width: 40px;
  }
  .title-area .title {
    font-size: 25px;
    line-height: 26px;
    padding-bottom: 0px;
  }
  .title-area {
    padding: 0;
  }
  .title-area p {
    line-height: 23px;
    font-size: 15px;
  }
  .single-feature p {
    font-size: 14px;
  }
  .our-skill-content p {
    font-size: 14px;
  }
  .why-choose-group .panel-body p {
    font-size: 14px;
  }
  .subscrib-form {
    width: 100%;
  }
  .footer-left {
    text-align: center;
    margin-bottom: 20px;
  }
  .footer-right {
    text-align: center;
  }
  #login-form .modal-dialog {
    width: 350px;
  }
.overlay {
    padding: 20px 0;
    height: 200px;
 }
  .single-portfolio {
    width: 50%;
  }
  .single-item-content::after {
    width: 85%;
  }
  .portfolio-menu ul li {
    padding: 4px 5px;
    font-size: 12px;
  }
  .blog-archive-left .blog-news-img {
    height: 320px;
  }
  .blog-navigation-prev {
    margin-bottom: 10px;
  }
#single-page-header-novedades{
  background-attachment: fixed !important;
  background-image: url("templates/frontend/images/imagenes_fondo/novedades-480.png");
  background-repeat: repeat;
  background-size: cover;
  color: #ffffff;
  display: inline;
  float: left;
  width: 100%;
  height: 140px;
}

/*img.novedades-encabezado {
    transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
}*/
/*	padding-bottom: 10px;*/

.navbar-brand img {
	-ms-transform: scale(0.7, 0.7); /* IE 9 */
    -webkit-transform: scale(0.7, 0.7); /* Safari */
    transform: scale(0.7, 0.7);
}

p.novedades-texto-contenido {
    padding-left: 25px;
	font-size: 1.2em;
}
div.facilitadores {
	transform: scale(0.65, 0.65);
    -ms-transform: scale(0.65, 0.65);
    -webkit-transform: scale(0.65, 0.65);
	margin-top: -70px;
	margin-left: -25px;
	width: 240px;
}
div.alumnos {
	transform: scale(0.65, 0.65);
    -ms-transform: scale(0.65, 0.65);
    -webkit-transform: scale(0.65, 0.65);
	padding-left: 0px;
	margin-top: -70px;
	margin-left: -35px;
	width: 240px;
}
#novedades {
    padding: 40px 0 0 0;
}
div.interior-facilitadores {
	float: none;
	text-align: center;
	margin-left: 0px;
}
div.appfacilitadores {
	width: 450px;
}
div.listado {
/*	padding-left: 25px;*/
	margin-bottom: 90px;
    margin-top: -50px;
	margin-left: 55px;
}
/*div.novedades-encabezado {
    padding-bottom:20px;
	margin-left: 25px;
}
div.novedades-encabezado h1{
	margin-top: -30px;
	font-size: 2em;
}
div.novedades-encabezado h2 {
	font-size: 1em;
	line-height: .2em;
}
.boton-app-facilitador,  .boton-app-alumnos{
	font-size: 1.9em;
    line-height: 1em;
}
.navbar-brand {
	margin-left: -30px;
	line-height: .9em;
}
.blackboard {
	margin-top: -6px;
}*/
}


@media(max-width:360px ){
  .login {
      padding: 10px;
  }
  .single-slide {
    height: 200px;
  }
  .single-slide img {
    height: 100%;
  }

	.phone {
    font-size: 12px;
  }
  .header-contact ul li {
    margin-right: 0;
    padding: 10px 8px;
  }
  #search-icon {
    right: 20%;
    top: 5px;
  }
  .slide-article {
    padding-top: 0;
    padding-left: 0;
  }
  .slide-article p {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .slide-article h1 {
    font-size: 15px;
    line-height: 16px;
    margin-bottom: 8px;
  }
  .read-more-btn {
    font-size: 12px;
    padding: 5px 8px;
  }
  #testimonial .title-area {
    padding: 0;
  }
  .subscribe-area h2 {
    font-size: 25px;
    letter-spacing: 0;
    margin-bottom: 25px;
  }
  .subscrib-form input {
    font-size: 15px;
    height: 40px;
  }
  .subscribe-btn {
    font-size: 15px;
    height: 40px;
    width: 95px;
  }
  #login-form .modal-dialog {
    width: 320px;
  }
  #search input {
    font-size: 14px;
  }
  .overlay {
    padding: 20px 0;
	height: 140px;
  }
   .single-portfolio {
    width: 100%;
  }
  .single-item-content::after {
    left: 15px;
    width: 92%;
  }
  .portfolio-menu ul li {
    padding: 4px 5px;
    font-size: 12px;
  }
  .blog-archive-left .blog-news-img {
    height: 250px;
  }
  .comments-form textarea {
    width: 100%;
  }
#single-page-header-novedades{
  background-attachment: fixed !important;
  background-image: url("templates/frontend/images/imagenes_fondo/novedades-480.png");
  background-repeat: repeat;
  background-size: cover;
  color: #ffffff;
  display: inline;
  float: left;
  width: 100%;
  height: 140px;
}

/*div.contenedor {
transform: scale(0.7);
}	*/

/*img.novedades-encabezado {
    transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
}*/
/*	padding-bottom: 10px;*/
.navbar-brand img {
	-ms-transform: scale(0.7, 0.7); /* IE 9 */
    -webkit-transform: scale(0.7, 0.7); /* Safari */
    transform: scale(0.7, 0.7);
}

p.novedades-texto-contenido {
    padding-left: 25px;
	font-size: 1.2em;
}
div.facilitadores {
	transform: scale(0.65, 0.65);
    -ms-transform: scale(0.65, 0.65);
    -webkit-transform: scale(0.65, 0.65);
	margin-top: -70px;
	margin-left: -25px;
	width: 240px;
}
div.alumnos {
	transform: scale(0.65, 0.65);
    -ms-transform: scale(0.65, 0.65);
    -webkit-transform: scale(0.65, 0.65);
	padding-left: 0px;
	margin-top: -70px;
	margin-left: -35px;
	width: 240px;
}
#novedades {
    padding: 40px 0 0 0;
}
div.interior-facilitadores {
	float: none;
	text-align: center;
	margin-left: 0px;
}
div.appfacilitadores {
	width: 450px;
}
div.listado {
/*	padding-left: 25px;*/
	margin-bottom: 90px;
    margin-top: -50px;
	margin-left: 55px;
}
div.novedades-encabezado {
    padding-bottom:20px;
	margin-left: 25px;
}
div.novedades-encabezado h1{
	margin-top: -30px;
	font-size: 2em;
}
div.novedades-encabezado h2 {
	font-size: 1em;
	line-height: .2em;
}
.boton-app-facilitador,  .boton-app-alumnos{
	font-size: 1.9em;
    line-height: 1em;
}
.navbar-brand {
	margin-left: -30px;
	line-height: .9em;
}
.blackboard {
	margin-top: -6px;
}
}


@media(max-width:320px ){
	#login-form .modal-dialog {
    width: 300px;
  }
  .footer-box {
    font-size: 14px;
  }
  .header-contact ul li {
    padding: 10px 0 10px 3px;
  }
  .subscribe-area h2 {
    font-size: 22px;
  }
  .footer-left p {
    font-size: 12px;
  }
  .footer-right a {
    font-size: 16px;
  }
	.single-item-content::after {
    width: 91%;
  }
  .blog-archive-left .blog-news-img {
    height: 220px;
  }
#single-page-header-novedades{
  background-attachment: fixed !important;
  background-image: url("templates/frontend/images/imagenes_fondo/novedades-480.png");
  background-repeat: repeat;
  background-size: cover;
  color: #ffffff;
  display: inline;
  float: left;
  width: 100%;
  height: 140px;
}


.overlay {
    padding: 20px 0;
	height: 140px;
 }

.navbar-brand img {
	-ms-transform: scale(0.7, 0.7); /* IE 9 */
    -webkit-transform: scale(0.7, 0.7); /* Safari */
    transform: scale(0.7, 0.7);
}
/*div.contenedor {
transform: scale(0.7);
}*/
/*img.novedades-encabezado {
    transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
}*/
/*	padding-bottom: 10px;*/

p.novedades-texto-contenido {
    padding-left: 25px;
	font-size: 1.2em;
}

div.facilitadores {
	transform: scale(0.65, 0.65);
    -ms-transform: scale(0.65, 0.65);
    -webkit-transform: scale(0.65, 0.65);
	margin-top: -70px;
	margin-left: -25px;
	width: 240px;
}
div.alumnos {
	transform: scale(0.65, 0.65);
    -ms-transform: scale(0.65, 0.65);
    -webkit-transform: scale(0.65, 0.65);
	padding-left: 0px;
	margin-top: -70px;
	margin-left: -35px;
	width: 240px;
}
#novedades {
    padding: 40px 0 0 0;
}
div.interior-facilitadores {
	float: none;
	text-align: center;
	margin-left: 0px;
}
div.appfacilitadores {
	width: 450px;
}
div.listado {
/*	padding-left: 25px;*/
	margin-bottom: 90px;
    margin-top: -50px;
	margin-left: 55px;
}
div.novedades-encabezado {
    padding-bottom:20px;
	margin-left: 25px;
}
div.novedades-encabezado h1{
	margin-top: -30px;
	font-size: 2em;
}
div.novedades-encabezado h2 {
	font-size: 1em;
	line-height: .2em;
}
.boton-app-facilitador,  .boton-app-alumnos{
	font-size: 1.9em;
    line-height: 1em;
}
.navbar-brand {
	margin-left: -30px;
	line-height: .9em;
}
.blackboard {
	margin-top: -6px;
}
}

@media screen and (min-width: 992px){

button.instalacion-android, button.instalacion-iphone {
    padding-right: 64px;
    width: 45%;
}
button.instalacion-android p, button.instalacion-iphone p{
    left: 50px;
}
.icono-facilitadores {
    width: 40%;
}
}
@media (max-width: 991px) {
.icono-facilitadores {
    width: 20%;
}
.div-app-facilitadores {
	border: none;
	margin-bottom: 20px;
}
	.iframe-media {
		width: 700px;
		padding-left: 0;
	}
}

@media screen and (max-width: 767px){
#single-page-header-novedades{
  background-attachment: fixed !important;
  background-image: url("templates/frontend/images/imagenes_fondo/novedades-767-celular.png");
  background-repeat: repeat;
  background-size: cover;
  color: #ffffff;
  display: inline;
  float: left;
  width: 100%;
}
button.instalacion-android, button.instalacion-iphone {
    height: 4.6em;
	padding-right: 0;
    margin-top: 20px;
    width: 45%;
}
button.instalacion-android p, button.instalacion-iphone p {
    line-height: 1em;
    font-size: 1em;
    left: -40px;
    width: 54%;
    top: -53px;
}
a.instalacion-iphone p {
    top: -45px;
}
img.icono-facilitadores{
	width: 127px;
}
.div-app-facilitadores {
    margin-bottom: 30px;
    margin-top: -20px;
}
.naccs .menu div.active {
    height: 2.5em;
	padding: 7px 20px 15px 60px;
}
.naccs .menu div.active span.light {
    top: 13px;
}
.naccs .menu div {
    height: 2.5em;
	padding: 7px 20px 15px 40px;
}
.naccs .menu div span.light {
    top: 13px;
}
.naccs .menu div.active {
    color: #e0500a;
    padding: 15px 20px 15px 60px;
    background: #ffe8d8;
    border: 4px solid #f18a42;
}
.div-app-facilitadores {
	border: none;
	margin-bottom: 20px;
}
.iframe-media{
width: 720px;
    padding-left: 0;
}
}
@media screen and (max-width: 719px){
button.instalacion-iphone p {
    top: -55px;
}
}
@media screen and (max-width: 580px){
button.instalacion-android p, button.instalacion-iphone p {
    font-size: .8em;
	top: -49px;
    left: -21px;
}
button.instalacion-android, button.instalacion-iphone {
    height: 3.4em;
}
.logo-android, .logo-iphone {
    width: 1.5em;
	top: -3px;
}
}




@media screen and (max-width:480px), (max-width: 360px), (max-width: 320px){

div.novedades-encabezado {
	padding: 0;
    padding-bottom:10px;
	margin-left: -21px;
	margin-top: 20px;
	height: 11em;
}
div.novedades-encabezado h1{
	margin-top: -40px;
	font-size: 3.2em;
	text-align: center;
	line-height: .9em;
}
div.novedades-encabezado h2 {
	font-size: 1.3em;
	line-height: .2em;
	text-align: center;
}
.blackboard {
	display: block;
	margin: auto;
    -ms-transform: scale(.8, .8);
    -webkit-transform: scale(.8, .8);
	transform: scale(.8, .8);
	margin-top: -5px;
	width: 399px;
}
div.novedades-encabezado {
    padding-bottom: 30px;
    width: 77%;
    margin: auto;
}
div.novedades-encabezado h1 {
    font-size: 4.2em;
    margin-bottom: 0;
}
div.novedades-encabezado h2 {
    font-size: 1.2em;
}
.blackboard {
    margin-left: -7px;
    display: block;
    margin: auto;
    margin-top: 5px;
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    position: absolute;
    left: 23px;
    width: 99%;
}
#single-page-header-novedades{
  background-attachment: fixed !important;
  background-image: url("templates/frontend/images/imagenes_fondo/novedades-480.png");
  background-repeat: repeat;
  background-size: cover;
  color: #ffffff;
  display: inline;
  float: left;
  width: 100%;
    height: 200px;
}
div.facilitadores {
	transform: scale(0.65, 0.65);
    -ms-transform: scale(0.65, 0.65);
    -webkit-transform: scale(0.65, 0.65);
	margin-top: -70px;
	margin-left: -25px;
	width: 240px;
	width: 45%;
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
}
div.alumnos {
	transform: scale(0.65, 0.65);
    -ms-transform: scale(0.65, 0.65);
    -webkit-transform: scale(0.65, 0.65);
	padding-left: 0px;
	margin-top: -70px;
	margin-left: -35px;
	width: 240px;
	width: 45%;
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
}
.icono-facilitador {
	width: 100%;
    height: 100%;
	}
div.contenedor-fa {
	margin-top:	-80px;
}

p.novedades-texto-contenido {
    padding-left: 0;
	font-size: 1.2em;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 30px;
}
.boton-app-facilitador, .boton-app-alumnos {
    margin-left: 10px;
    width: 210px;
}
	img .flecha-app {
		    margin-left: 105px;
	}
	.titulo-app {
		    margin-left: 30px;
		width: 180px;
	}
	.titulo-appf {
	font-size: 2.5em;
	font-weight: 800;
	color: #003A5D;
	text-align: center;
	line-height: 95%;
		    width: 230px;
    margin-left: -7px;
	}
	img.flecha-app {
		margin-left: 100px;
	}
	#contact {
		padding: 0;
	}
	.div-app-facilitadores {
	margin-top: 10px;
}
.title-area .title {
    font-size: 55px;
    line-height: 46px;
    padding-bottom: 0px;
    margin-top: 40px;
}
.lista-opciones {
margin-top: 50px;
}
.iframe-media{
	width: 380px;
	height: 500px;
}
div.contenido-instalacion {
    margin-top: 70px;
    padding: 0px 10px;
}

iframe.iframe-instalacion{
	width: 100%;
	height: 600px;
}
}

/*
@media screen and (max-width:480px)and (min-width:385px){
div.novedades-encabezado {
    padding-bottom: 30px;
    width: 77%;
    margin: auto;
}
div.novedades-encabezado h1 {
    font-size: 4.2em;
    margin-bottom: 0;
}
div.novedades-encabezado h2 {
    font-size: 1.2em;
}
.blackboard {
    margin-left: -7px;
    display: block;
    margin: auto;
    margin-top: 5px;
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    position: absolute;
    left: 23px;
    width: 99%;
}
}
*/
@media screen and (max-width:480px){
div.contenedor-fa {
    max-width:  480px;
}
.iframe-media {
    width: 435px;
    height: 500px;
	padding-left: 0;
}

button.instalacion-android, button.instalacion-iphone {
    width: 100%;
	padding-right: 0;
	height: 2.4em;
    left: -21px;
    top: -31px;
	margin-left: 0px; 
}
.logo-android, .logo-iphone {
    top: -7px;
    width: 1.4em;
    left: -7px;
}
.logo-iphone{
	top: -9px;
	}
button.instalacion-android p, button.instalacion-iphone p {
    font-size: .7em;
    left: -10px;
    top: -37px;
    width: 88%;
}
.boton-app-facilitador, .boton-app-alumnos {
    border-radius: 15px;
    border-width: 4px;
}
.boton-app-facilitador:hover, .boton-app-alumnos:hover {
    border-radius: 15px;
    border-width: 4px;
}
p.titulo-appf, p.titulo-app {
    position: absolute;
    top: 254px;
    left: -7px;
}	
img.icono-facilitador, img.icono-alumnos {
    height: 254px;
    width: 234px;
    position: absolute;
    left: -10px;
}
div.novedades-encabezado h1 {
    font-size: 4.7em;
    font-weight: 700;
    color: #51C3E3;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
div.novedades-encabezado h2 {
    color: #003A5D;
    font-size: 1.34em;
    line-height: .3em;
    text-align: center;
}
.blackboard {
    display: block;
    margin: auto;
    /* margin-top: 5px; */
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    position: absolute;
    left: 9px;
    width: 108%;
}
div.novedades-encabezado {
    position: relative;
	width: 78%;
    padding: 0;
    margin: 0;
    margin: auto;
    height: 14em;
}
}



@media screen and (max-width:360px){
div.contenedor-fa {
    max-width:  360px;
}
.logo-blackboard {
    width: 280px;
}
.subtitulo {
    font-size: 1em;
    line-height: .1em;
}
.title-area .title {
    margin-top: 10px;
}
.div-app-facilitadores {
    margin-top: 30px;
}
.iframe-media {
    width: 315px;
    height: 500px;
	padding-left: 0;
}
button.instalacion-android, button.instalacion-iphone {
    width: 100%;
	padding-right: 0;
	height: 1.9em;
    left: -21px;
    top: -31px;
	margin-left: 0px; 
}
.logo-android, .logo-iphone {
    top: -7px;
    width: 1em;
    left: -7px;
}
.logo-iphone{
	top: -9px;
	}
button.instalacion-android p, button.instalacion-iphone p {
	font-size: .6em;
    left: -5px;
    top: -43px;
    width: 88%;
}
.boton-app-facilitador, .boton-app-alumnos {
    border-radius: 15px;
    border-width: 4px;
}
.boton-app-facilitador:hover, .boton-app-alumnos:hover {
    border-radius: 15px;
    border-width: 4px;
}
iframe.iframe-instalacion {
    height: 289px;
}
}

@media(max-width:320px ){
	div.novedades-encabezado {
    padding-bottom: 10px;
    margin-left: -21px;
    margin-top: 42px;
    display: block;
    /* width: 50%; */
    margin: 0;
    padding: 0;
    width: 320px;
    margin-top: 20px;
}
div.novedades-encabezado-interior h1{
	line-height: .8em;
}
div.novedades-encabezado-interior h2 {
	font-size: 1.1em;
}
	.blackboard {
	display: block;
	margin: auto;
    -ms-transform: scale(.7, .7);
    -webkit-transform: scale(.7, .7);
	transform: scale(.7, .7);
    margin-top: -9px;
    margin-left: -70px;
}
	div.facilitadores {
		    margin-left: -20px;
		margin-right: 10px;
	}
	div.alumnos {
		float: none;
	}
	.titulo-app {
		    width: 182px;
	}
	.boton-app-facilitador, .boton-app-alumnos {
		width:	200px;
		margin-left: 15px;
	}
	img.flecha-app {
		margin-left: 100px;
	}
	#single-page-header-novedades{
  background-attachment: fixed !important;
  background-image: url("templates/frontend/images/imagenes_fondo/novedades-320.png");
  background-repeat: repeat;
  background-size: cover;
  color: #ffffff;
  display: inline;
  float: left;
  width: 100%;
    height: 170px;
	}
	.overlay{
		height: 170px;
	}
	.single-page-header-left h2{
		font-size: 1.5em;
    	line-height: 1em;
	}
	.single-page-header-right{
	    font-size: 1.3em;
	}
	div.novedades-encabezado-interior {
		margin-top: -110px;
		padding: 0;
		width: 320px;
}
	.contenedor-app-facilitadores-int{
		margin-top: -100px;
		margin-bottom: 30px;
	}
.subtitulo {
	font-size: 1em;
    padding-bottom: 2px;
}
img.logo-blackboard {
	margin-bottom: 10px;
	width: 290px;
}
h1.title.instalacion {
    font-size: 1.8em;
    line-height: .7em;
}
.blackboard{
	width: 282px;
}
button.instalacion-android, button.instalacion-iphone {
    width: 100%;
	padding-right: 0;
	height: 2.2em;
    left: -21px;
    top: -31px;
	margin-left: 0px; 
}
.logo-android, .logo-iphone {
    top: -2px;
    width: 1em;
    left: -7px;
}
.instalacion-iphone img.logo-android{
	top: -4px;
}
button.instalacion-android p, button.instalacion-iphone p {
    font-size: .6em;
    left: -20px;
    top: -39px;
    width: 70%;
}
.boton-app-facilitador, .boton-app-alumnos {
    border-radius: 15px;
    border-width: 4px;
}
.boton-app-facilitador:hover, .boton-app-alumnos:hover {
    border-radius: 15px;
    border-width: 4px;
}

iframe.iframe-instalacion {
    width: 100%;
    height: 217px;
}


#instalacion-facilitadores-android {
    margin-top: 50px;
}
div.novedades-encabezado h2 {
    font-size: 1.1em;
}
.subtitulo {
    padding-bottom: 12px;
}
.iframe-media {
    width: 274px;
    height: 400px;
	padding-left: 0;
}
}

@media screen and (max-width: 480px) and (min-width:321px){

	div.novedades-encabezado {
		width: 100%;
		height: 10em;
	}
	
	.blackboard {
		width: 284px;
		position: static;
	}
	
	div.novedades-encabezado h1{
		font-size: 3.7em;
	}

	div.novedades-encabezado h2 {
		font-size: 1.05em;
		margin-top: .3em;
	}
	
	img.imgSVG {
		margin-top: 10px;
	}
}

@media screen and (max-width: 380px) and (min-width:320px){
	.title-area h1.title{
		font-size: 3.5em;
	}
	
	h2.subtitulo{
		font-size: 1em;
	}
	
	.logo-blackboard {
		width: 280px;
	}
	
	div.title-area.title-area-borde h1.title.instalacion{
		font-size: 1.96em;
		margin-bottom: 0;
	}
	
	div.title-area.title-area-borde h2.subtitulo{
		font-size: 1.07em;
	}
	
	div.title-area.title-area-borde img.logo-blackboard{
		width: 300px;
	}
}


/*R E S P O N S I V E */

@media only screen and (min-width: 1025px) and (max-width: 1199px){
	footer .row .col-md-2{
		width: 23%;
	}
	
	.col-links-footer, .col-info-buap, .col-info-dcytic{
		width: 23%;
	}
} 

@media only screen and (min-width: 320px) and (max-width: 1024px){
	footer .row{
		text-align: center;
	}
	
	footer .row .col-md-2{
		width: 100%;
	}
	
	.col-links-footer{
		width: 100%;
	}
	
	.col-info-buap, .col-info-dcytic{
		margin: 10px 0 !important;
		width: 100%;
	}
}

@media only screen and (min-width: 651px) and (max-width: 991px){
	
	.container{
		text-align: center;
	}
	
	
	.header-bottom .col-md-4, .header-bottom .col-md-8{
		text-align: center;
	}
	
	.col-links{
		text-align: center;
	}
	
	.links{
		width: 49%;
		float: none !important;
		display: inline-block !important;
		vertical-align: top;
		padding: 5px;
	}
	
	.links-img{
		float: none !important;
		display: inline-block !important;
		padding: 5px;
	}
	
	header .dep{
		width: 98%;
		max-width: 650px;
		margin: 0 !important;
		float: none;
	}
	
	.navbar-header{
		margin-top: 0 !important;
	}
	
	.navbar-toggle{
		margin: 5px 10px;
	}
	
	.navbar-nav{
		margin: 0 !important;
	}
}

@media only screen and (min-width: 320px) and (max-width: 650px){
	.header-bottom .col-md-4, .header-bottom .col-md-8{
		text-align: center;
	}
	
	.col-links{
		text-align: center;
	}
	
	.links{
		width: 49%;
		float: none !important;
		display: inline-block !important;
		vertical-align: top;
		padding: 5px;
	}
	
	.links-img{
		float: none !important;
		display: inline-block !important;
		padding: 5px;
	}
	
	header .dep{
		width: 99%;
		max-width: 652px;
		margin: 5px 0 0 0;
		float: none !important;
		display: inline-block;
	}
	
	.navbar-header{
		margin-top: 0 !important;
	}
	
	.navbar-toggle{
		margin: 5px 10px;
	}
	
	.navbar-nav{
		margin: 0 !important;
	}
	
	.form-control{
		width: 100% !important;
	}
	
	.comments-form{
		margin-bottom: 50px;
	}
	
	.blog-news-img iframe{
		width: 100%;
	}
}

/*Arreglar tablas internas*/
@media only screen and (min-width: 320px) and (max-width: 375px){
	.display{
		width: 320px !important;
	}
	
	table.dataTable thead th, table.dataTable thead td{
		padding: 8px 0 !important;
	}
	
	table.dataTable tbody th, table.dataTable tbody td{
		padding: 8px 0 !important;
	}
	
	table.dataTable tfoot th, table.dataTable tfoot td{
		padding: 8px 10px !important
	}
	
	td img{
		max-width: 50px;
	}
	
	.text-danger{
		font-size: 11px;
	}
}
/*Arreglar tablas internas*/


/*Cambiar breakpoint del menú responsivo*/

@media only screen and (min-width: 768px) and (max-width: 991px){

	.navbar-collapse.collapse{
		display: inline-block !important;
		padding-right: 0 !important;
		padding-left: 0 !important;
	}
	
	.collapse {
        display: block;
    }

    .navbar-header {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
     
	 .collapse {
        display: none;
     }

     .navbar-header {
        display: block;
     }
}

/*R E S P O N S I V E*/

