@font-face {
    font-family: 'icomoon';
    src:    url('templates/frontend/fonts/icomoon.eot?bx0edl');
    src:    url('templates/frontend/fonts/icomoon.eot?bx0edl#iefix') format('embedded-opentype'),
        url('templates/frontend/fonts/icomoon.ttf?bx0edl') format('truetype'),
        url('templates/frontend/fonts/icomoon.woff?bx0edl') format('woff'),
        url('templates/frontend/fonts/icomoon.svg?bx0edl#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-flashed-face:before {
    content: "\e900";
}
.icon-flashed-face2:before {
    content: "\e901";
}
.icon-flashed-face3:before {
    content: "\e902";
}
.icon-flashed-face4:before {
    content: "\e903";
}
.icon-flashed-face-glasses:before {
    content: "\e904";
}
.icon-flashed-face-glasses2:before {
    content: "\e905";
}
.icon-face-missing-moth:before {
    content: "\e906";
}
.icon-face-missing-moth2:before {
    content: "\e907";
}
.icon-neutral-face:before {
    content: "\e908";
}
.icon-neutral-face2:before {
    content: "\e909";
}
.icon-smiling-face:before {
    content: "\e90a";
}
.icon-smiling-face2:before {
    content: "\e90b";
}
.icon-sad-face:before {
    content: "\e90c";
}
.icon-sad-face2:before {
    content: "\e90d";
}
.icon-face-open-mouth:before {
    content: "\e90e";
}
.icon-face-open-mouth2:before {
    content: "\e90f";
}
.icon-face-open-mouth3:before {
    content: "\e910";
}
.icon-face-open-mouth4:before {
    content: "\e911";
}
.icon-winking-face:before {
    content: "\e912";
}
.icon-winking-face2:before {
    content: "\e913";
}
.icon-laughing-face:before {
    content: "\e914";
}
.icon-laughing-face2:before {
    content: "\e915";
}
.icon-laughing-face3:before {
    content: "\e916";
}
.icon-laughing-face4:before {
    content: "\e917";
}
.icon-smirking-face:before {
    content: "\e918";
}
.icon-smirking-face2:before {
    content: "\e919";
}
.icon-stubborn-face:before {
    content: "\e91a";
}
.icon-stubborn-face2:before {
    content: "\e91b";
}
.icon-neutral-face3:before {
    content: "\e91c";
}
.icon-neutral-face4:before {
    content: "\e91d";
}
.icon-sad-face3:before {
    content: "\e91e";
}
.icon-sad-face4:before {
    content: "\e91f";
}
.icon-smiling-face3:before {
    content: "\e920";
}
.icon-smiling-face4:before {
    content: "\e921";
}
.icon-smiling-face-eyebrows:before {
    content: "\e922";
}
.icon-smiling-face-eyebrows2:before {
    content: "\e923";
}
.icon-grinning-face-eyebrows:before {
    content: "\e924";
}
.icon-grinning-face-eyebrows2:before {
    content: "\e925";
}
.icon-sad-face-eyebrows:before {
    content: "\e926";
}
.icon-sad-face-eyebrows2:before {
    content: "\e927";
}
.icon-neutral-face-eyebrows:before {
    content: "\e928";
}
.icon-neutral-face-eyebrows2:before {
    content: "\e929";
}
.icon-angry-face:before {
    content: "\e92a";
}
.icon-angry-face2:before {
    content: "\e92b";
}
.icon-worried-face:before {
    content: "\e92c";
}
.icon-worried-face2:before {
    content: "\e92d";
}
.icon-winking-face3:before {
    content: "\e92e";
}
.icon-winking-face4:before {
    content: "\e92f";
}
.icon-angry-face-eyebrows:before {
    content: "\e930";
}
.icon-angry-face-eyebrows2:before {
    content: "\e931";
}
.icon-grinning-face:before {
    content: "\e932";
}
.icon-grinning-face2:before {
    content: "\e933";
}
.icon-sad-face5:before {
    content: "\e934";
}
.icon-sad-face6:before {
    content: "\e935";
}
.icon-grinning-face-eyebrows3:before {
    content: "\e936";
}
.icon-grinning-face-eyebrows4:before {
    content: "\e937";
}
.icon-fake-grinning-face-eyebrows:before {
    content: "\e938";
}
.icon-fake-grinning-face-eyebrows2:before {
    content: "\e939";
}
.icon-worried-face-eyebrows:before {
    content: "\e93a";
}
.icon-worried-face-eyebrows2:before {
    content: "\e93b";
}
.icon-face-stuck-out-tongue:before {
    content: "\e93c";
}
.icon-face-stuck-out-tongue2:before {
    content: "\e93d";
}
.icon-face-stuck-out-tongue3:before {
    content: "\e93e";
}
.icon-face-stuck-out-tongue4:before {
    content: "\e93f";
}
.icon-kissing-face:before {
    content: "\e940";
}
.icon-kissing-face2:before {
    content: "\e941";
}
.icon-grinning-face-teeth:before {
    content: "\e942";
}
.icon-grinning-face-teeth2:before {
    content: "\e943";
}
.icon-angry-face-teeth:before {
    content: "\e944";
}
.icon-angry-face-teeth2:before {
    content: "\e945";
}
.icon-worried-face-teeth:before {
    content: "\e946";
}
.icon-worried-face-teeth2:before {
    content: "\e947";
}
.icon-grinning-face-teeth3:before {
    content: "\e948";
}
.icon-grinning-face-teeth4:before {
    content: "\e949";
}
.icon-face-open-mouth-eyebrows:before {
    content: "\e94a";
}
.icon-face-open-mouth-eyebrows2:before {
    content: "\e94b";
}
.icon-face-open-mouth-eyebrows3:before {
    content: "\e94c";
}
.icon-face-open-mouth-eyebrows4:before {
    content: "\e94d";
}
.icon-angry-face-open-mouth-eyebrows:before {
    content: "\e94e";
}
.icon-angry-face-open-mouth-eyebrows2:before {
    content: "\e94f";
}
.icon-unamused-face-tightly-closed-eyes:before {
    content: "\e950";
}
.icon-unamused-face-tightly-closed-eyes2:before {
    content: "\e951";
}
.icon-sad-face--tightly-closed-eyes:before {
    content: "\e952";
}
.icon-sad-face--tightly-closed-eyes2:before {
    content: "\e953";
}
.icon-kissing-face3:before {
    content: "\e954";
}
.icon-kissing-face4:before {
    content: "\e955";
}
.icon-face-closed-meyes:before {
    content: "\e956";
}
.icon-face-closed-meyes2:before {
    content: "\e957";
}
.icon-amused-face:before {
    content: "\e958";
}
.icon-amused-face2:before {
    content: "\e959";
}
.icon-amused-face-closed-eyes:before {
    content: "\e95a";
}
.icon-amused-face-closed-eyes2:before {
    content: "\e95b";
}
.icon-amused-face-closed-eyes3:before {
    content: "\e95c";
}
.icon-amused-face-closed-eyes4:before {
    content: "\e95d";
}
.icon-face-closed-eyes-open-mouth:before {
    content: "\e95e";
}
.icon-face-closed-eyes-open-mouth2:before {
    content: "\e95f";
}
.icon-face-closed-eyes-open-mouth3:before {
    content: "\e960";
}
.icon-face-closed-eyes-open-mouth4:before {
    content: "\e961";
}
.icon-face-closed-eyes-open-mouth5:before {
    content: "\e962";
}
.icon-face-closed-eyes-open-mouth6:before {
    content: "\e963";
}
.icon-laughing-face5:before {
    content: "\e964";
}
.icon-laughing-face6:before {
    content: "\e965";
}
.icon-smiling-face5:before {
    content: "\e966";
}
.icon-smiling-face6:before {
    content: "\e967";
}
.icon-grinning-face3:before {
    content: "\e968";
}
.icon-grinning-face4:before {
    content: "\e969";
}
.icon-sad-face7:before {
    content: "\e96a";
}
.icon-sad-face8:before {
    content: "\e96b";
}
.icon-sad-face9:before {
    content: "\e96c";
}
.icon-sad-face10:before {
    content: "\e96d";
}
.icon-sad-face-closed-eyes:before {
    content: "\e96e";
}
.icon-sad-face-closed-eyes2:before {
    content: "\e96f";
}
.icon-sad-face11:before {
    content: "\e970";
}
.icon-sad-face12:before {
    content: "\e971";
}
.icon-smiling-face7:before {
    content: "\e972";
}
.icon-smiling-face8:before {
    content: "\e973";
}
.icon-astonished-face:before {
    content: "\e974";
}
.icon-astonished-face2:before {
    content: "\e975";
}
.icon-astonished-face3:before {
    content: "\e976";
}
.icon-astonished-face4:before {
    content: "\e977";
}
.icon-face-moustache:before {
    content: "\e978";
}
.icon-face-moustache2:before {
    content: "\e979";
}
.icon-face-moustache3:before {
    content: "\e97a";
}
.icon-face-moustache4:before {
    content: "\e97b";
}
.icon-face-glasses:before {
    content: "\e97c";
}
.icon-face-glasses2:before {
    content: "\e97d";
}
.icon-face-sunglasses:before {
    content: "\e97e";
}
.icon-face-sunglasses2:before {
    content: "\e97f";
}
.icon-smirking-face-sunglasses:before {
    content: "\e980";
}
.icon-smirking-face-sunglasses2:before {
    content: "\e981";
}
.icon-contrast:before {
    content: "\e9d5";
}

